[2015-05-07 21:38] ariel-phet opened #1 "When mRNA is created the label is incorrect as "mRna""
When mRNA is created it should be properly labelled "mRNA"

[2015-05-08 16:29] ariel-phet commented on #1
@AshrafSharf - this is a minor bug in the Java version which should be corrected in the HTML5 port (should involve just modifying the string).

[2015-05-08 17:28] AshrafSharf commented on #1
Sure. Will be taken care.

Thanks
Ashraf

Sent from my iPad

[2015-05-20 00:23] ariel-phet opened #2 "Gene Expression Essentials Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 04/18/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle tickets reviewed
- [x] **Learning goals and

[2015-05-20 00:25] ariel-phet opened #3 "Code Review Checklist (5/17/2015 snapshot)"
# PhET code-review checklist

**Build and Run Checks**
- [x] Does the sim pass jshint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings that are not

[2015-06-10 20:19] jonathanolson opened #4 "Assertion failure from automated testing"
[code]

[2015-07-08 21:21] jonathanolson opened #5 "Assertion failure from automated testing"
[code]

[2015-08-12 00:12] pixelzoom opened #6 "unused images"
[code]

[2015-08-12 16:02] jbphet commented on #6
Assigning to @AshrafSharf, since he is working on this sim.

[2015-08-18 01:00] pixelzoom opened #7 "sim fails to start in requirejs mode with assertions enabled"
Noted when running build-server.  Here's the console error in requirejs mode, with assertions enabled:

![screenshot_577](https://cloud.githubusercontent.com/assets/3046552/9320008/40123b8e-4512-11e5-8b90-ebd8d9c06f1a.png)

[2015-08-25 18:25] pixelzoom commented on #7
This is still a problem as of 8/25/15 run of test-server.

[2015-08-27 15:42] AshrafSharf commented on #7
The getScaleVector method of Matrix3 always returns positive value for the scales, even though
 the mvt uses inverted scaling for Y, so changing the assertion statement to check for absolute values. Please see the snippet from Matrix3

[code]

[2015-08-27 16:19] pixelzoom commented on #7
:+1: Closing.

[2015-08-27 16:19] #7 closed

[2015-09-10 22:23] pixelzoom opened #8 "fix title"
The title is currently "Gene Expression - The Basics".  If this sim is following PhET conventions, the title should be "Gene Expression: Basics".

[2015-09-11 15:25] jbphet commented on #8
I believe that this sim was named before we had the whole "basics" thing going on for simpler versions of simulations.  The name "Gene Expression - The Basics" was intended to convey the idea that this sim teaches the basics of a very complex process, and not that it is a simpler version of another sim.  There is no plan to ever make a more complete, non-basic, version of this simulation.

Perhaps

[2015-09-11 15:27] ariel-phet commented on #8
Or perhaps "Gene Expression Fundamentals" or such? Let me get some designer opinions.

[2015-09-11 15:28] ariel-phet commented on #8
@amanda-phet see above...thoughts on changing the name if you put your teacher hat on?

[2015-09-14 21:03] amanda-phet commented on #8
Maybe @amyh-phet could also weigh in? I like "Gene Expression Essentials" out of the options presented above. I agree that using the new "SimName : Basics" convention does not fit in this case.

[2015-09-14 21:41] amyh-phet commented on #8
I think Gene Expression Essentials conveys that the sim introduces the topic but doesn't provide all of the information as the topic is really complex.     I like "Essentials" more than "Fundamentals".   I also think this would avoid the confusion with our current "SimName-Basics".

[2015-11-10 21:28] pixelzoom opened #9 "fix string var names"
... that fail ESLint. See https://github.com/phetsims/chipper/issues/396#issuecomment-155566007.

[2015-11-16 06:36] pixelzoom commented on #9
This is causing the sim to fail the build step in test-server.

[2015-11-16 23:13] jbphet commented on #9
Fixed, sim is passing lint as of 2b733c51b42af5b6c8d8e9e09eb6f7d57414bd43, closing.

[2015-11-16 23:13] #9 closed

[2015-11-19 04:40] jonathanolson opened #10 "RibosomeShape probably should not inherit Shape"
It is always an empty shape (it appears) that is used for two overridden methods: getting bounds, and transforming.

It would be easy to accidentally call a non-overloaded method that would give incorrect results.

[2016-01-07 20:04] pixelzoom opened #11 "add to active-runnables when development resumes"
Removed this sim from chipper/data/active-runnables until development resumes, so that we don't see issues with automated testing. Add it back in when development resumes.

[2016-08-24 18:49] aadish commented on #8
@amanda-phet should I go ahead with Gene Expression Essentials name for this sim

[2016-08-24 19:12] amanda-phet commented on #8
@aadish yes I think that title will work well.

[2016-08-24 19:14] aadish commented on #8
awsm will go ahead and rename the GitHub repository to reflect the changes

[2016-08-24 20:00] aadish commented on #8
Github repo has been renamed and changes have been made inside babel, chipper, phetmarks, phet-info and all-sims to reflect the same

[2016-08-26 17:29] phet-steele commented on #11
Checked with @aadish to see if the sim was ready, he said check back in another week.

[2016-08-26 21:26] phet-steele opened #12 "[Java] Multiple Cells graph has interesting scaling"
@aadish Who knows why, but the x-axis in the third tab has inconsistent increments of either 2 or 3:

![screen shot 2016-08-26 at 3 24 11 pm](https://cloud.githubusercontent.com/assets/5863899/18020892/30df4826-6ba1-11e6-896d-2a4461f39f31.png)

For phetsims/tasks/issues/688.

[2016-08-29 19:28] pixelzoom opened #13 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-29 19:28] pixelzoom commented on #13
Btw... There's some dead code in HorizontalSliderWithLabelsAtEnds that you might want to clean up.

[2016-08-30 16:23] jbphet commented on #13
Assigning to @aadish, since he is taking over on this sim.

[2016-09-09 20:04] aadish commented on #10
RibosomeShape file is no more needed closing

[2016-09-09 20:04] #10 closed

[2016-09-09 20:04] aadish commented on #1
fixed closing

[2016-09-09 20:04] #1 closed

[2016-09-13 22:16] phet-steele commented on #11
Added in https://github.com/phetsims/chipper/commit/69de18c3d8888c162f9f559d0d218352e661f45c

[2016-09-13 22:16] #11 closed

[2016-09-20 18:01] phet-steele opened #14 "Automated Testing Sim Error (9/20/2016 11:33 AM)"
[code]

[2016-09-20 18:04] phet-steele opened #15 "Automated Testing Build Error (9/20/2016 11:33 AM)"
[code]

[2016-09-20 22:30] aadish commented on #15
fixed, closing

[2016-09-20 22:30] #15 closed

[2016-09-20 22:32] aadish commented on #4
cannot reproduce closing

[2016-09-20 22:32] #4 closed

[2016-09-20 22:33] aadish commented on #5
cannot reproduce closing

[2016-09-20 22:33] #5 closed

[2016-09-20 22:34] aadish commented on #8
sim has been renamed to gene expression essentials, closing

[2016-09-20 22:34] #8 closed

[2016-09-20 22:53] #14 closed

[2016-10-11 18:09] phet-steele opened #16 "Automated Testing Build Error (10/11/2016 10:00 AM)"
[code]

[2016-10-11 19:38] aadish opened #17 "Translatable Strings"
@ariel-phet  should any the strings in below image should be translatable or should we leave it as it is.

![image](https://cloud.githubusercontent.com/assets/4546788/19285591/d19ca616-8fb7-11e6-80ea-b789a1621933.png)

[2016-10-11 19:58] ariel-phet commented on #17
@aadish the caption should be translatable - but not the copyright statement

[2016-10-20 22:13] aadish commented on #16
fixed closing

[2016-10-20 22:13] #16 closed

[2016-10-25 17:41] phet-steele opened #18 "Automated Testing Sim Error (10/25/2016 10:10 AM)"
`Uncaught Error: Script error for: GENE_EXPRESSION_ESSENTIALS/multiplecells/view/ControllerNode
`

@aadish, please change the file name for [controllerNode.js](https://github.com/phetsims/gene-expression-essentials/blob/e1ba700877d2acf7f85944c12957cdc22a8e828b/js/multiplecells/view/controllerNode.js) to have a capital "C".

[2016-10-26 16:48] aadish commented on #6
fixed closing

[2016-10-26 16:48] #6 closed

[2016-10-26 19:09] aadish commented on #17
string is translatable closing

[2016-10-26 19:09] #17 closed

[2016-11-05 20:07] aadish commented on #18
fixed, closing

[2016-11-05 20:07] #18 closed

[2016-11-29 18:07] phet-steele opened #19 "Automated Testing Lint Error (11/29/2016 10:00 AM)"
[code]

[2016-11-30 20:04] aadish commented on #19
fixed, closing

[2016-11-30 20:04] #19 closed

[2017-01-05 21:30] jonathanolson opened #20 "Require.js failure to load (somewhat random)"
Had this failure today:
[code]

[2017-02-03 02:59] jonathanolson commented on #20
Reproduced:
[code]

[2017-02-03 21:00] phet-steele commented on #12
Fixed in http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.2/gene-expression-essentials_en.html

[2017-02-03 21:00] #12 closed

[2017-02-03 21:31] phet-steele opened #21 "Change labels on TF panels to show concentration as None to High"
I cross referenced with the Java version to be sure, both of these TF panels on the second screen should range their concentrations from None to **High**, not None to Low:

<img width="948" alt="screen shot 2017-02-03 at 2 24 44 pm" src="https://cloud.githubusercontent.com/assets/5863899/22609013/8c682696-ea1c-11e6-9ede-c98a1a318633.png">

Seen on macOS 10.12.3 Chrome. For phetsims/tasks/issues/77

[2017-02-03 22:17] phet-steele opened #22 "mRNA is manipulatable by its label"
The labels on mRNA ("mRNA") are pickable, allowing you to move them around. This is true whether or not they are visible (they can be manipulated when they are floating around, minding their own business). Occurs on both the first two screens:

![gee01](https://cloud.githubusercontent.com/assets/5863899/22610603/7398fa1c-ea23-11e6-8ce4-d0f96c0bb602.gif)

Seen on macOS 10.12.3 Chrome. For phetsims/

[2017-02-03 22:23] EthanWJohnson opened #23 "mRNA Fragments made by the Destroyer are grab-able and drag-able"
Seen on Windows 10 and MacOS

When a Destroyer is eating an mRNA segment, every one of the fragments it makes can be grabbed and dragged around the sim; it will not disappear until it is released.

Relevant Gif;
![draggable fragments](https://cloud.githubusercontent.com/assets/22551096/22610793/7fe77112-ea24-11e6-8a60-88192fe9ec38.gif)

Relevant Issue: https://github.com/phetsims/tasks/issues/776

[2017-02-06 20:36] brroberts1231 commented on #22
It appears to me that they are _only_ manipulatable by the text, and not by the body of it. Clicking on the black squiggle seems to do nothing, and you have to find the invisible box of text in order to move them around, which can especially be a problem if they float to the top of the screen and only the bottom of the mRNA shows.

[2017-02-06 21:06] BryceAG opened #24 "Destroyer grab issue"
It is possible (although difficult) to get the ribosome to grab onto the mRNA while the polymerase is creating it. However, if this is attempted with a destroyer, the destroyer will slip off, and become ungrabable until it reconnects and eats the mRNA. Furthermore, the specific destroyer and mRNA are linked, and other destroyers cannot eat that mRNA.

![pacman no eat eat](https://cloud.githubuserc

[2017-02-06 21:22] brroberts1231 opened #25 "Objects often float off screen at top"
It happens pretty frequently that objects will float to the top of the screen and be difficult or impossible to click and drag back onto screen.
In the screenshot below, the RNA Destroyer on the left was floating around just at the edge of the screen, and was very difficult to grab, and there was also a second protein floating completely above the edge at the same time which could not be seen at a

[2017-02-06 21:37] BryceAG commented on #24
Just to clarify, it is possible for the destroyer to eat while the mRNA is being created (done successfully by dragging the mRNA into the destroyer), but if not done correctly then the above error happens.

[2017-02-10 19:33] aadish commented on #13
touch area looks good, closing

[2017-02-10 19:33] #13 closed

[2017-02-15 22:04] jbphet opened #26 "perform pre-release code review"
This simulation is approach a point where we will be ready to start working towards the release, so it's time to perform a full code review.

[2017-02-15 22:14] jbphet commented on #26
I just realized that there is already a code review checklist ticket in existence for this sim, so I'll like code review issues to that one instead and close this as a duplicate.

[2017-02-15 22:14] #26 closed

[2017-02-15 22:22] jbphet opened #27 "need design and/or artwork for home screen and nav bar icons"
As of this writing, the home screen and nav bar icons are blank.  I'm not sure who should come up with the icons for these - I could probably do it if necessary - but I thought I'd log an issue and have @ariel-phet decide who should take care of it.

[2017-02-15 22:34] jbphet opened #28 "initial loading of the "Expression" screen takes a long time"
In requirejs mode, the Expression screen (the first screen) takes a long time to load.  I used a stopwatch and found it to be around 5.5 seconds on my machine, which is long enough that it feels like something is wrong.  We should spend some time profiling an optimizing this.

[2017-02-15 22:37] jbphet commented on #20
Assigning to @aadish to investigate.  I'm not sure if this is related, but I'm unable to load the current master version on an iPad 2 in either requirejs or built mode.

[2017-02-15 23:05] jbphet opened #29 "collection area gets too wide with long strings"
I just did the long string test on the current master version and noticed that the collection area gets unreasonably wide.  Screenshots below.

Double string test:
![gee-wide-capture](https://cloud.githubusercontent.com/assets/3082831/22999411/66f2a01e-f398-11e6-9941-79f6de0eff99.PNG)

Normal size:
![gee-normal-capture](https://cloud.githubusercontent.com/assets/3082831/22999415/6f5b16fa-f398-11e6

[2017-02-15 23:09] aadish commented on #27
@jbphet @ariel-phet had forwarded me the initial screenshots which can be used as icons, I will put them up and then decide further on improving them

[2017-02-15 23:12] jbphet opened #30 "directory names with multiple words should use hyphens to separate words"
The PhET convention for directory names that have multiple words is to use hyphens as a separator to make them more readable.  With this in mind, several directories should be renamed:
+ manualgeneexpresion should be manual-gene-expression
+ mrnaproduction should be mrna-production
+ multiplecells should be multiple-cells

[2017-02-15 23:16] jbphet opened #31 "fill in the credits"
Please go ahead an add the initial set of credits, using those from the original Java simulation, adding @aadish as a developer, and adding @phet-steele for QA.  Once this is done, please unassign the issue and leave it open with a note that the credits still need to be finalized before publication.

Also, add in anyone who has worked as a designer on this version (if anyone has).

[2017-02-15 23:18] jbphet commented on #31
Oh, and please also add @AshrafSharf as one of the developers.

[2017-02-15 23:23] aadish commented on #27
this the initial thoughts by @ariel-phet. Putting here for reference

[2017-02-15 23:30] jbphet opened #32 "multi-line comments should wrap at the 120th column"
The current PhET coding convention is that comments wrap at 120 columns, not at 80, as I'm seeing as I start reviewing the code.  120 was agreed upon because most modern screens accommodate it and it allows us to get more code on the screen.  For example, this comment in `ManualGeneExpressionModel.js`

[code]
should instead be
[code]
...which takes up fewer lines.

Please go through the code and f

[2017-02-15 23:32] jbphet opened #33 "can commented out code be removed?"
The following block of code exists in ManualGeneExpressionModel:

[code]

Why is this commented out?  Can it be removed?

[2017-02-15 23:41] jbphet opened #34 "add visibility annotations"
Visibility annotations (e.g. @public, @private) are part of the coding standards for publicly accessible attributes and values.  There are a handful of these annotations in the code, but most appear to be missing.  They should be added.  Take a look at `CoinTerm.js` for an example if needed.

[2017-02-15 23:46] jbphet opened #35 "why is superconstructor called in the middle of construction?"
In `ManualGeneExpressionModel` the superconstructor is called halfway through the constructor, and it has an unrelated comment just above it.  Is there any reason that it's here and not at the top of the file?  If so, it should be documented and, if not, it should be moved.

[2017-02-16 19:20] jbphet opened #36 "not loading on ipad2"
While working through the code review checklist (see #3), I decided to try loading on an iPad 2.  The current master version doesn't load successfully.  It starts, and the loading screen and progress bar are shown, and the bar moves, but before it gets all the way across the browser puts up an error message and tries reloading.

I've seen this on both the requireJS and the compiled versions.

iOS

[2017-02-16 22:34] jessegreenberg opened #37 "Automated testing error (build) 2/16/17"
[code]

Found during a fuzz test of the built version.

[2017-02-17 17:22] aadish commented on #28
I tried profiling it and my first inclination is that it is because of drawing dna strands on the screen

When DNA strand is drawn on the screen it takes approx 3.5 seconds on my machine
When DNA strand was not rendered on the screen it took less then 60 micro seconds, seems rendering of DNA strand is the cuplrit

[2017-02-17 22:17] phet-steele opened #38 "Cells slider maybe has rounding errors"
Each increment of the Cells slider, on the third screen, does not necessarily increase/decrease the number of cells displayed (depending on the direction you slide, of course).

Once you hit three, the fun begins. Each positive increment (dragging very slowly) will follow the order of: subtract one, add two, add one, subtract one, add two, add one, ....etc.

![gee02](https://cloud.githubuserconten

[2017-02-20 20:50] BryceAG opened #39 "mRNA screen can have both transcription factors bonded simultaneously"
The mRNA screen can have both transcription factors applied at the same time, although it appears that the positive has to stick first. The polymerase will not create mRNA while like this, meaning the negative factor that is overlapping is considered the active factor.

![image](https://cloud.githubusercontent.com/assets/15327201/23141252/2662692e-f773-11e6-9684-79b5a5f966cc.png)

related to phets

[2017-02-20 20:53] phet-steele commented on #39
@BryceAG is there a procedure for this bug? Can we have the platform/troubleshooting info?

[2017-02-20 20:54] BryceAG commented on #39
It seems that they have to both be moving in to connect at around the same time. If one is well connected before the other comes by then it will bounce of correctly. This was tested on Bates Windows 7.

Troubleshooting information (do not edit):
Name: ‪Gene Expression Essentials‬
URL: http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.2/gene-expression-essentials_en

[2017-02-20 20:55] phet-steele commented on #39
Reproduced on macOS 10.12.3 Chrome, mostly with just good timing.

[2017-02-20 22:03] phet-steele opened #40 "Average Protein Level graph is not bounded at min and max y values"
The average protein level can go both above and below the graph. The values should probably stay clamped so this does not occur.

Just let one cell run over time (with optimal protein synthesis conditions) and eventually this will happen:
<img width="607" alt="screen shot 2017-02-20 at 2 51 51 pm" src="https://cloud.githubusercontent.com/assets/5863899/23143077/9e2991c2-f77c-11e6-8621-e596c5ceab5f

[2017-02-22 21:49] jbphet opened #41 "adjust code and comments for 120 column width"
The PhET coding standard says that comments and code should extend to 120 columns and no further.  I'm seeing a lot of multi-line comments that are less then this and some code that is longer.  I'll clean this up some as I go through it, then may assign @aadish to double check it.

[2017-02-22 21:53] phet-steele commented on #40
@aadish, I actually like what the Java does better. When the graph exceeds the max y, the line is clipped:

<img width="259" alt="screen shot 2017-02-22 at 2 51 01 pm" src="https://cloud.githubusercontent.com/assets/5863899/23234228/a26e1fda-f90e-11e6-9334-b34e9b33411b.png">

We should do that, too. However, we should keep the behaviour I suggested for the min y values (a flat line)

[2017-02-22 21:55] jbphet commented on #41
Oops - this is a duplicate.  Closing.

[2017-02-22 21:55] #41 closed

[2017-02-22 21:57] jbphet opened #42 "replace usages of _.forEach"
I'm seeing a number of usages of `_.forEach` instead of the native JS `forEach` function.  We should use the latter if we can.  If there is a good reason to use the lodash version, feel free to enlighten me.  A search of the code shows 21 usages for this sim.

Example from ManualGeneExpressionModel:

[code]

[2017-02-22 22:17] jbphet opened #43 "Make DnaMolecule member function initializeStrandSegments local"
The function DnaMolecule.initializeStrandSegments() looks like it isn't used outside of this file.  It can probably be a private, local, helper function.

[2017-02-22 22:26] phet-steele opened #44 "We should have proper formatting for bacterial nomenclature"
@aadish we should do one of two things for the "Real Cells" image caption. In either case, we should italicize *E. coli* AND make "*coli*" lowercase. I see the options we have being:

1). Italicize, lower case and stop there, results in: *E. coli*.
2). Italicize, lower case, and do not use the abbreviation, results in: *Escherichia coli*.

I believe option 2 is more proper since it's the first and

[2017-02-22 22:32] phet-steele opened #45 "Fix the termination on the right side of the DNA strands"
@aadish on both the first and second screens, the right side of the DNA strand terminates oddly:

<img width="80" alt="screen shot 2017-02-22 at 3 28 28 pm" src="https://cloud.githubusercontent.com/assets/5863899/23235665/9b90ed82-f913-11e6-97c9-7e7f79ac61c2.png">

Can we have the right side match the way the left side terminates? We don't need to match it exactly, but the fact that the left side

[2017-02-22 22:32] jbphet opened #46 "names look incorrect for several methods that were overloaded in Java version"
In the class `DnaMolecule` in the Java version of this sim, there were several overloaded methods used to request that the DNA molecule consider a proposal for a given biomolecule to attach.  These were renamed to specific methods in the JavaScript version since JavaScript doesn't support this kind of overloading, but the naming seems odd.  For instance, in the Java version, there is a method:
[co

[2017-02-22 22:58] jbphet opened #47 "add documentation for model and implementation notes"
We generally have two standard documents: model.md that describes how the model works (often used for sharing with users if they ask about how the sim works) and implementation-notes.md (used primarily by developers that need to understand the code).  Theses documents should be added.  The previous Java documents can probably be leveraged for this.

[2017-02-22 23:17] jbphet opened #48 "commented out assertion in DnaMolecule should be fixed or removed"
The file `DnaMolecule.js` contains the line:
[code]
This seems like a reasonable check, and I'm wondering why it is commented out.  It should be added back, fixing it if possible, or removed if there is a good reason to do so.

[2017-02-22 23:32] jbphet opened #49 "can static declarations of CONFORMATIONAL_CHANGE_RATE be removed"
There are two files that use a constant called CONFORMATIONAL_CHANGE_RATE, both declare it as a static constant, and as far as I can tell, no one uses these static declarations.  So, two questions:

+ Should this be a single constant shared between the two files, and thus maintained in the shared constants file?
+ Can the static public declarations be removed?

[2017-02-23 23:45] jbphet opened #50 "memory usage is extremely high"
I just did a heap snapshot where I started up the sim, then opened the first screen, the took the snapshot.  Total memory usages is a whopping 249 MB.  I ran the same test on States of Matter, and the total was 23.1 MB, so GEE is using over 10x as much memory.  That's way too much, and it needs to be investigated and reduced.

This may well explain why the sim isn't running on iPads (see #36).

[2017-02-23 23:57] jbphet opened #51 "no dispose functions are used, memory leakage is likely"
I just scanned the source code to find all the dispose functions so I could see if they were calling dispose in their supertypes, since this issue has been raised lately.  I was surprised to see that there aren't any dispose functions at all in the source code.  This means that it's very likely that there are memory leaks.  I tried to do some profiling, but ran into problems getting multiple heap

[2017-02-24 00:09] jbphet commented on #51
For reference, here's the comment about making sure that dispose functions call the dispose method in the supertype: https://github.com/phetsims/scenery/issues/601#issuecomment-278998421

[2017-02-25 01:14] jbphet opened #52 "Shouldn't AttachedToBasePair be AttachedToBasePairState or AttachedAndWanderingState?"
The name of `AttachedToBasePair` seems inconsistent with the names of the other states, which all end with "State", e.g. AttachedAndTranscribingState.

[2017-02-25 01:16] jbphet commented on #52
I just checked the Java code, and `AttachedToBasePair` was indeed the name in the Java sim.  I'm going to defer this one for now. We may change it when we are ready to publish, but for now it is probably best to leave the names the same in case we need to compare the HTML5 version to the Java version.

[2017-02-28 20:09] BryceAG opened #53 "Multiple cells screen: reset all button doesn't restart play"
If the sim is paused on the multiple cells screen, then the reset all button is pressed, the sim will revert all values to default and clear the graph as it should, but the sim will remain paused and play will have to be pressed again.

related to phetsims/tasks#776.

Name: ‪Gene Expression Essentials‬
URL: http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.2/gene-e

[2017-02-28 20:40] BryceAG opened #54 "Sim won't load in IE, math.log10 not supported"
The load bar gets about 80% full then stops when trying to open on Internet Explorer. Looking into the console shows math.log10 is not supported.

related to phetsims/tasks#776.

Sim would not load so not all trouble shooting information could be gathered
Name: ‪Gene Expression Essentials‬
URL: http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.2/gene-expression-ess

[2017-03-07 22:16] jbphet opened #55 "performance issues"
@aadish and I are currently working to bring the memory usage down to an acceptable level (see #50), and by using a canvas for the DNA strand the memory usage has fallen substantially.  This appears to have enabled the simulation to operate on iPad 2 devices (see #36).  The performance on iPad 2 is pretty low, sitting at around 10 fps before anything is happening (probably due to the DNA strand be

[2017-03-10 18:26] aadish commented on #44
@phet-steele I pushed changes to reflect option 2 take a look at master and let me know how does it look and any other changes required

[2017-03-20 17:33] aadish commented on #27
@ariel-phet , @jbphet , @phet-steele I have put the initial icons for this sim which are the screenshot of individual components on the screens

Let me know your thoughts and we can take it from there

[2017-03-20 20:11] ariel-phet commented on #27
@aadish looking pretty good. One main change - please remove all text from the icons (we don't usually put text in the icons since translation would be trick, and it will be too small to read on the nav-bar)

[2017-03-20 20:46] aadish commented on #27
removed text

[2017-03-22 16:49] phet-steele commented on #27
@aadish without the text on the first screen image, the image is pretty bland. I'm not saying text is a good thing, because it isn't, but I feel we need something more on this screen image. I was thinking something more along the line of:

<img width="410" alt="screen shot 2017-03-22 at 10 42 14 am" src="https://cloud.githubusercontent.com/assets/5863899/24209849/04897d92-0eed-11e7-9a99-1b3c0dc76a

[2017-03-22 16:53] phet-steele commented on #27
@aadish Also, the image for the Multiple Cells screen is *very* hard to see. We may need the cells in that image to be much more green.

Here's how they look now:
<img width="1456" alt="screen shot 2017-03-22 at 10 51 24 am" src="https://cloud.githubusercontent.com/assets/5863899/24210112/ba00fef2-0eed-11e7-8d4f-4ebab76f3882.png">

Navbar:
<img width="659" alt="screen shot 2017-03-22 at 10 51 29 a

[2017-03-22 16:58] phet-steele commented on #44
@aadish Hooray we have room! Thanks! Two things to note:

- We lost the period at the end of the first sentence, after (GFP).
- Can we get rid of the space between the first and second lines? (Highlighted with the red box)

<img width="924" alt="screen shot 2017-03-22 at 10 55 52 am" src="https://cloud.githubusercontent.com/assets/5863899/24210366/7718d3ac-0eee-11e7-8cf8-7eb7d7226336.png">

[2017-03-22 17:27] phet-steele commented on #21
Fixed, thanks @aadish.

[2017-03-22 17:27] #21 closed

[2017-03-22 17:39] phet-steele commented on #40
I love it! Thanks @aadish.

[2017-03-22 17:39] #40 closed

[2017-03-22 17:44] phet-steele commented on #22
Looks great, thanks @aadish.

[2017-03-22 17:44] #22 closed

[2017-03-22 17:59] phet-steele opened #56 "RNA Polymerase can be manipulated on the second screen"
@aadish, on current master (3/22, noon), the RNAP on the second screen can be dragged if it satisfies two conditions:
- the RNAP has participated in transcription
- the RNAP is to the left of the transcription start site.

Once it is dragged the first time, it can always be dragged. You may need to let some transcription occur to have RNAP appear on the left.

![gee03](https://cloud.githubusercont

[2017-03-22 18:38] phet-steele commented on #23
Looks fixed, thanks @aadish.

[2017-03-22 18:38] #23 closed

[2017-03-22 18:58] phet-steele commented on #45
Looks awesome, thanks!

[2017-03-22 18:58] #45 closed

[2017-03-22 19:02] phet-steele commented on #53
Fixed, thanks @BryceAG and @aadish.

[2017-03-22 19:02] #53 closed

[2017-03-22 19:20] phet-steele commented on #25
@aadish the new restrictions haven't caused any problems for me, thanks.

[2017-03-22 19:20] #25 closed

[2017-03-22 19:40] phet-steele commented on #37
@jessegreenberg @aadish I believe this was fixed with https://github.com/phetsims/gene-expression-essentials/commit/8419ab8b39477cb40fc704f68a77ad92d90ecce2. If this error was anything like phetsims/molecules-and-light/issues/137, it would be much more prevalent in bayes testing. It has not been reported, nor can I reproduce it like I can phetsims/molecules-and-light/issues/137. Closing.

[2017-03-22 19:40] #37 closed

[2017-03-22 20:30] ariel-phet commented on #27
@phet-steele you are sort of "lead designer" on this sim these days, and I trust your opinion. Agreed on the multiple cells, and would agree with potentially adding detail to the first icon.

[2017-03-23 17:21] phet-steele opened #57 "Automated Testing Error"
@aadish either let the second screen produce mRNA and try to dispose the mRNA itself, or produce some mRNA and press Reset All.
[code]

[2017-03-23 18:46] aadish commented on #57
fixed, closing

[2017-03-23 18:46] #57 closed

[2017-03-24 15:50] jbphet commented on #27
I like the version that shows the ribosome and the DNA strand.  I also agree that the cells should be much more green for 3rd icon.

[2017-03-27 18:42] aadish commented on #49
fixed closing

[2017-03-27 18:42] #49 closed

[2017-03-27 18:42] aadish commented on #20
this should be fixed now closing

[2017-03-27 18:42] #20 closed

[2017-03-27 18:43] aadish commented on #30
fixed closing

[2017-03-27 18:43] #30 closed

[2017-03-28 21:04] aadish commented on #29
fixed closing

[2017-03-28 21:04] #29 closed

[2017-03-29 01:57] aadish commented on #44
@phet-steele pushed changes let me know how it looks now

[2017-03-29 16:55] aadish commented on #24
@phet-steele this behavior is similar to the one in Java Simulation, is this a bug or desired behavior?

[2017-03-29 17:34] aadish commented on #46
fixed, closing

[2017-03-29 17:34] #46 closed

[2017-03-29 18:31] aadish commented on #27
@phet-steele let me know how the icons look

[2017-03-29 18:57] aadish commented on #36
master currently loads on iPad, but performace is not upto the benchmark
this issue is similar to #50, closing it and tracking there

[2017-03-29 18:57] #36 closed

[2017-03-29 19:00] aadish commented on #28
Current master version takes 40 micro seconds, closing this issue and further performance related issues are tracked in #55

[2017-03-29 19:00] #28 closed

[2017-03-29 20:01] aadish commented on #50
Snapshot of the sim after running Fuzz Mouse for 30 minutes memory usage is 48 MB, which is a significant drop

[2017-04-03 19:19] jbphet commented on #47
I transferred the documentation from the Java simulation and updated it for the JavaScript version.  I think this should be sufficient.  Closing.

[2017-04-03 19:19] #47 closed

[2017-04-03 20:07] jbphet opened #58 "comments should be added for the former inner class states"
There are a number of types that were inner classes in the Java version of the sim that have been pulled out into their own type in the JavaScript version, such ass `AttachedAndConformingState.js`.  This is fine, but in the context of the Java simulation, it was clear that `AttachedAndConformingState` only related to RNA polymerase.  This isn't at all clear in the JavaScript version, and not comme

[2017-04-03 20:43] jbphet opened #59 "FlatSegment.js missing header comments for methods"
These should at least be marked as overrides (I'm fairly certain that they are, but please check) so that future maintainers can look up documentation for them.

[2017-04-03 21:01] jbphet opened #60 "unused parameter in BiomoleculeDragHandler"
Both a biomolecule and a node are passed in, not sure why, the node is unused.  If not needed, it should be removed.

[2017-04-03 21:05] jbphet opened #61 "documentation and cleanup needed for DnaMoleculeCanvasNode"
This is a new class created for performance reasons, so it may well be that @aadish just hasn't gotten this far yet, but `DnaMoleculeCanvasNode` is missing documentation for the constructor and the methods.

Also, there is commented-out code that should be removed or otherwise cleaned up.

[2017-04-03 21:15] jbphet commented on #3
Note to self: I've finished reviewing the code in the `common` subdirectory, pick it back up in `manual-gene-expression` for the next round.

[2017-04-04 19:35] phet-steele opened #62 "Show Real Cells window is vulnerable to xss"
Run the sim with `?stringTest=xss`, then click the Show Real Cells button on the third screen to be redirected. Running on current master (4/4 1:30 PM)

[2017-04-04 20:17] phet-steele commented on #62
This is no doubt because of the use of `HTMLText` used for italicizing some strings in this window (see https://github.com/phetsims/chains/issues/3#issuecomment-291614197). @aadish is there another way to achieve italicized text without the use of `HTMLText`?

[2017-04-05 22:12] jonathanolson commented on #62
Fixed by using RichText (which is new).

[2017-04-05 22:12] #62 closed

[2017-04-06 21:35] aadish commented on #43
discussed with @jbphet, as this function accesses the member variables, this can't be converted into local helper function.
Closing this issue

[2017-04-06 21:35] #43 closed

[2017-04-07 19:34] aadish commented on #60
fixed, closing

[2017-04-07 19:34] #60 closed

[2017-04-07 19:47] aadish commented on #61
fixed, closing

[2017-04-07 19:47] #61 closed

[2017-04-07 19:47] aadish commented on #59
fixed, closing

[2017-04-07 19:47] #59 closed

[2017-04-07 19:47] aadish commented on #58
fixed, closing

[2017-04-07 19:47] #58 closed

[2017-04-07 19:57] aadish commented on #35
fixed closing

[2017-04-07 19:57] #35 closed

[2017-04-07 19:58] aadish commented on #33
fixed, closing

[2017-04-07 19:58] #33 closed

[2017-04-07 20:56] aadish commented on #42
fixed closing

[2017-04-07 20:56] #42 closed

[2017-04-10 16:53] phet-steele commented on #24
@aadish this is broken behaviour that should be fixed. It is not hard to end up in the situation (in the above video) where the sim feels very broken, ie. you can't control a particular destroyer and you can't attach the other destroyer to the mRNA. Ideally, the destroyer heading to an mRNA should be able to be "cancelled" by user interaction with the same destroyer, the mNRA in question, or by at

[2017-04-10 16:57] phet-steele commented on #44
Discussed with @aadish, the new screenshots look great and the green really helps. The 3rd screen image does seem to be a little "low". There is some empty black space along the top and the cells along the bottom are cropped. An image that is "higher" will look great here.

[2017-04-10 16:58] phet-steele commented on #27
Discussed with @aadish, the new screenshots look great and the green really helps. The 3rd screen image does seem to be a little "low". There is some empty black space along the top and the cells along the bottom are cropped. An image that is "higher" will look great here.

[2017-04-10 17:02] phet-steele commented on #44
The latest still has a slight gap between the first and second lines. This may be a result of different font sizes being used in each line. @aadish is investigating. Here is the latest:
<img width="927" alt="screen shot 2017-04-10 at 11 01 02 am" src="https://cloud.githubusercontent.com/assets/5863899/24873177/2dab60ec-1ddd-11e7-987d-d591c3fecf0a.png">

[2017-04-10 17:05] phet-steele commented on #38
The fix looks good, thanks @aadish. Now each increment of the slider, while not guaranteed to create a new cell, will at least not decrement the number of visible cells. This is fine, most people probably won't slide one tick at a time anyway 😄.

[2017-04-10 17:05] #38 closed

[2017-04-10 17:11] phet-steele commented on #56
@aadish there is still a brief moment (following the steps above) where RNAP can be grabbed just before it begins transcription. I showed @aadish in person since recording this on a video is tricky.

[2017-04-10 17:28] aadish commented on #44
@phet-steele let me know how it looks just pushed the changes

[2017-04-10 17:42] phet-steele commented on #44
Looks great!

[2017-04-10 17:42] #44 closed

[2017-04-10 18:10] aadish commented on #48
fixed closing

[2017-04-10 18:10] #48 closed

[2017-04-14 17:47] aadish commented on #32
fixed closing

[2017-04-14 17:47] #32 closed

[2017-04-14 17:48] aadish commented on #34
fixed closing

[2017-04-14 17:48] #34 closed

[2017-04-17 18:01] aadish opened #63 "Should Map be moved to Common Code"
GEE uses Map.js which is copy pasted from Sugar and Salt Solutions. Should this be moved to common code?

Tagging it for developer meeting

[2017-04-20 03:59] samreid commented on #63
How well would it work to rewrite the code using JS attributes to avoid the need for a separate Map instance?

For instance, instead of

[code]

it would read something like:

[code]

and we would eliminate the map completely (may need to track ribosomes in an array though)?

[2017-04-20 16:32] pixelzoom commented on #63
If the code can't be rewritten and Map is still used, then yes - Map should be generalized (if it's not already general) and migrated to common code.

[2017-04-20 16:47] Denz1994 commented on #63
Is Map something that would go in phetsims/DOT?

[2017-04-20 16:59] samreid commented on #63
We should try to implement this without a separate map structure.  If you need to use a map data structure implementation, we should investigate https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map before adding our own to common code.

[2017-04-20 17:39] jonathanolson commented on #63
If it's moved to common code, PHET_CORE sounds better.

For this type of behavior, I've added IDs or another unique identifier to key objects so that lookup time is fast (instead of doing a full scan).

Map does make this more convenient (for when performance isn't required as fast as possible). If generalizing, using `splice()` instead of `delete` may be preferred, depending on how browsers handl

[2017-04-20 18:01] phet-steele commented on #27
Current one looks great!

[2017-04-20 18:01] #27 closed

[2017-04-20 18:46] jbphet commented on #63
Discussed at 4/20/2017 developer meeting, here are the recommendations in order of preference:
+ Investigate using the relatively new JavaScript standard version that @samreid mentions above.  We will need to determine if it is available on all of our currently supported platforms.
+ Investigate whether a common library that we use, such as lodash/underscore, has something that we can easily use i

[2017-04-20 18:50] jbphet commented on #63
Once a solution is decided upon, a TODO item should be added in the code for Sugar and Salt Solutions that says something like:
[code]

[2017-04-21 17:32] aadish commented on #63
referring commits fca3683960f4da570e55162bb07663bef1e72f8c, https://github.com/phetsims/chipper/commit/8cd7f43b40b86c789f7e67f56fd0b8a52510577c,

[2017-04-21 17:43] aadish commented on #63
Going ahead with the new JavaScript standard suggested above, tested across platforms and it is supported

Tested on
Chrome: 57.0.2987.133
Edge:  40.15063.0.0
IE 11
Safari: 8 and 9 on IPad
Firefox: 53.0

Keeping this issue open to verify during RC

[2017-05-01 22:46] ariel-phet opened #64 "Change sim name simply to "Gene Expression"?"
@phet-steele "Gene Expression Essentials" seems like a complicated name, I feel we could simply call this sim "Gene Expression" since we are unlikely to have a more advanced version or a more basic version.

Since you are now "lead designer" on this sim, what do you think the best name would be? We should settle on one before publication

[2017-05-01 22:49] ariel-phet opened #65 "Improve rendering of mRNA"
After discussing with @jbphet and playing around on an iPad2, it sounds like the main bottleneck to performance is rendering the mRNA which turns out to be a computationally expensive set of Bezier curves.

@phet-steele should work with @aadish and @jbphet to come up with an easier to render but still acceptable representation (my personal opinion is that it needs to merely be reasonably recogniza

[2017-05-05 18:38] jbphet opened #66 "make sure @author annotations are updated"
I've seen several files that I think have been substantially updated by @aadish where he is not listed as an author.  This is more than just a 'giving credit where credit is due' sort of thing - having up-to-date author annotations helps the people who come along later understand at a glance a bit more about the history of the file.

[2017-05-05 18:58] jbphet opened #67 "limiting dt instead of skipping it might yield better performance"
In the `step` functions for both `ManualGeneExpressionModel.js` and `MessengerRnaProductionModel.js` I'm seeing code that looks like this:

[code]

This means that when long dt values come in, the model won't advance at all.  It might improve the visual performance of the simulation to instead limit the dt value to a some max value that the sim is known to be able to handle, perhaps something like

[2017-05-05 19:05] jbphet opened #68 "protein capture area bounds looks odd when initially created"
The type `ManualGeneExpressionModel` has the following declaration within it:

[code]

This seems like an arbitrary initial value, but the comment doesn't state that.  If that's what it is, it should probably instead be initially set to `Bounds2.NOTHING` and the comment should mention when it gets set.

[2017-05-05 19:12] jbphet opened #69 "use step instead of stepInTime"
Many of the model elements use the function `stepInTime` to advance their state.  This was PhET's convention back in the "Java days", but we generally just use "step" now.  These should be updated.

For the most part, this will be a simple search and replace, but there are some files that have both a `step` and `stepInTime` function.  I looked through these, and at least initially it appears that

[2017-05-05 19:15] jbphet opened #70 "JSDoc headers missing on some constructors"
The JSDoc headers are missing for the constructor function in some files.  So far, I've noticed it for `ProteinA.js`, `ProteinB.js`, and `ProteinC.js`.  I'll add to this list if I notice others.

[2017-05-08 17:11] aadish commented on #69
discussed with @jbphet and left the stepInTime functions where play pause functionality is required and removed at other places in above commit

[2017-05-08 18:10] jbphet opened #71 "clean up instances of "self" that are not used in closures"
In the "Coding Style Guidelines" of the "PhET Development Overview" document, it says:

I'm seeing some places in the code where `self` is being defined and is *not* being used in closures.  This should be cleaned up.

[2017-05-08 18:37] jbphet opened #72 "adding transcription factors to BiomoleculeToolBoxNode"
First off, there is something that just looks odd in this code, but the box itself looks okay, so I'm not sure what's going on.  Here is the code snippet:

[code]

Note that the loop is creating `negativeTranscriptionBox` but then is pushing `positiveTranscriptionBox` onto the list of `negativeTrascriptBoxNodes`.  I'm not sure how this is working, but it looks wrong.

Second, both places where tra

[2017-05-08 18:42] jbphet opened #73 "FlashController should be a separate type"
The type `FlashController` is defined as an inner type in the file `FlashingShapeNode.js`.  It should be pulled out into a separate file to facilitate reuse and readability.  Also, the parameters `onTime`, `offTime`, `numFlashes`, `flashOnAtStart` and `flashOnAtEnd` should be made into options using PhET's usual options pattern.

[2017-05-08 20:08] jbphet opened #74 "why is contextXMargin commented out in ControlPanelNode?"
The option parameter `contextXMargin` is commented out in the file `ControlPanelNode`.  I've looked at the history for this, and it was committed by @aadish.  If a different value is needed, it should be set explicitly.

[2017-05-08 20:12] jbphet opened #75 "ControlPanelNode is missing header comment"
There is no header comment for ControlPanelNode.  It is also vaguely named.  I think that may be because it is a general purpose node that takes a set of 'controllers' and puts them all in a node.  If this is indeed the case, this should be explained in the header comment.

[2017-05-08 20:19] jbphet opened #76 "Several files in multiple-cells/view are missing comment header at top"
The comment header that is generally placed at the top of a source code file is missing from several of the types under `multiple-cells/view`.  These should be added.

[2017-05-08 20:30] jbphet opened #77 "corner rounding of control panels is different on 3rd screen"
The corners on the control panels in the "Multiple Cells" screen are different from those on the first two screens.  They should be made to match for better visual consistency.  I'd suggest making the corner rounding value a shared constant if it isn't already.

[2017-05-08 20:31] jbphet commented on #76
Also, the JSDoc header for the constructor is missing in many of these files.

[2017-05-08 20:34] jbphet opened #78 "clean up commented-out code in MultipleCellsScreenView"
MultipleCellsScreenView.js has some commented out code related to the layout.  This code should be removed or incorporated.

[2017-05-09 16:49] aadish commented on #72
e9b03097f2c3d7911932567ea0db42e101b6080f fixed by this commit

[2017-05-09 16:49] #72 closed

[2017-05-09 16:58] aadish commented on #74
we are using the default value for contentXMargin, removing commented out code

[2017-05-09 16:58] #74 closed

[2017-05-09 17:21] aadish commented on #77
fixed closing

[2017-05-09 17:21] #77 closed

[2017-05-09 17:54] aadish commented on #78
removed commented code

[2017-05-09 17:54] #78 closed

[2017-05-09 17:55] aadish commented on #69
fixed, closing

[2017-05-09 17:55] #69 closed

[2017-05-09 18:46] aadish commented on #68
fixed, closing

[2017-05-09 18:46] #68 closed

[2017-05-09 19:07] aadish commented on #76
fixed by commit 1282191f0f26a4031da700c67a13638198b3c7fa

[2017-05-09 19:07] #76 closed

[2017-05-09 19:41] aadish commented on #66
fixed closing

[2017-05-09 19:41] #66 closed

[2017-05-09 20:20] aadish commented on #73
FlashController has been ported out, leaving this issue open for QA-Testing

[2017-05-09 20:20] aadish commented on #70
fixed closing

[2017-05-09 20:20] #70 closed

[2017-05-09 20:21] aadish commented on #67
fixed closing

[2017-05-09 20:21] #67 closed

[2017-05-10 17:31] aadish opened #79 "Make BasePairs break when doing Transcription of DNA Molecule"
@phet-steele has suggested that it would be nice that break pairs could break as DNA molecule changes when transcribing the DNA molecule.
This issue is to track this request

[2017-05-10 17:34] aadish commented on #79
b9d4b4eedde04c55c9469eaa2522048f9c808411

Implemented this behavior in above commit

@phet-steele can you pull the latest and see if it is desired beahvior

[2017-05-11 17:29] aadish commented on #71
fixed, closing

[2017-05-11 17:29] #71 closed

[2017-05-11 21:15] aadish commented on #64
just adding the issue where it was discussed before to form consensus on current name
https://github.com/phetsims/gene-expression-essentials/issues/8

[2017-06-06 20:48] ariel-phet commented on #2
## Design
- [ ] **Sim folder and design doc created** (Date: //)
  - [ ] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [ ] Place design doc in the sim folder
- [ ] **Legacy sim docs/info gathered**
  - [ ] Sim suggestions doc reviewed
  - [ ] Unfuddle tickets reviewed
- [ ] **Learning goals and standar

[2017-06-12 16:38] pixelzoom commented on #63
In 6/12/17 Skype discussion, we concluded that PhET code should not be using JS Map.

[2017-06-12 16:44] pixelzoom commented on #63
More 6/12/17 Skype discussion... Wrapping JS Map so that (a) only supported features are usable and (b) missing features can be provided seems like a fine alternative.  But don't use JS Map directly.

[2017-06-12 16:57] pixelzoom commented on #63
Still more 6/12/17 Skype discussion... JS Map is not supported on Android mobile.  That seems significant with the forthcoming PhET Android app.

[2017-06-12 16:58] samreid commented on #63
@mattpen can you comment on what technology the android webview uses?

[2017-06-12 18:25] mattpen commented on #63
From https://developer.chrome.com/multidevice/webview/overview

It looks like Chrome for Android didn't support map until 38: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map#AutoCompatibilityTable.  We are currently still planning to support KitKat which means we will not be able to use Map, although that is a flexible requirement.  In the next major release of

[2017-06-12 18:26] samreid commented on #63
Use of Map is not critical, we should blacklist it for a year then re-evaluate.

[2017-07-31 17:27] jbphet opened #80 "update icon for mRNA screen"
The mRNA screen has non-split base pairs and while will likely be an older version of the mRNA winding.  We need to make sure that this is updated before publication.

[2017-07-31 17:39] jbphet commented on #73
I've reviewed and tested the changes, and did some minor cleanup.  This looks good, closing.

[2017-07-31 17:39] #73 closed

[2017-07-31 17:40] jbphet commented on #64
Bumping to high priority, since this sim is now getting some more attention and will be moving towards a release.

[2017-07-31 17:42] jbphet commented on #63
Assigning to myself to rewrite the portions that use the Map construct.

[2017-07-31 17:46] jbphet commented on #79
Bumping to high priority.  @phet-steele - please review behavior and comment on whether this behavior is an improvement that should be retained, and if there are any additional changes that you'd recommend.  Once done, please assign back to me and I'll take it from there.  I'll at least need to evaluate the performance and make sure that this doesn't cause any significant degradation over the prev

[2017-07-31 17:47] jbphet commented on #56
Assigning to myself since I'm taking over this sim.

[2017-07-31 17:51] jbphet commented on #54
The commit from @aadish above removes that usage of `math.log10`, and I just inspected the code to make sure it doesn't appear.  I also tested on IE and it loaded fine with no errors.  Closing.

[2017-07-31 17:51] #54 closed

[2017-07-31 17:53] jbphet commented on #52
Unassigning for now, but I *would* like to do this just before creating the first RC branch.  I want to hold off until then in case I need to go back an reference the original Java code in the immediate future.

[2017-07-31 18:11] jbphet commented on #50
I just re-ran the test described in the initial comment on Chrome 59.0.3071.115 in an incognito window on Win 10.  The memory usage was reported at 40.0 MB.  I'd say that the initial problem has been addressed, and I will track other memory profiling in another GitHub issue.  Closing.

[2017-07-31 18:11] #50 closed

[2017-07-31 18:18] jbphet commented on #31
The credits currently have @phet-steele as the lead designer.  This doesn't seem quite right, since he was only assigned that role recently.  The Java version doesn't have a lead designer, and lists a number of people as designers.  I propose omitting the "Lead Design" credit for this sim and adding @phet-steele to the 'Team' credits.  Sound reasonable?

[2017-07-31 21:01] jbphet opened #81 "mRNA is hard to grab"
The mRNA strand, which can be easily picked up and re-positioned in the Java version of this sim, is hard to grab in the HTML5 simulation, probably because only the line itself is pickable, so it's easy to click on the spaces between the lines.

[2017-07-31 21:09] jbphet commented on #63
I've rewritten the code so that the JavaScript Map construct is no longer needed nor used.  Closing.

[2017-07-31 21:09] #63 closed

[2017-07-31 21:21] jbphet opened #82 "positive transcription factors flash on mRNA screen"
When adjusting the concentration of the positive transcription factor on the 2nd screen, the individual objects seems to flash in and out of existence.

[2017-07-31 21:27] jbphet opened #83 "stroke needed around collection shapes"
There is no stroke around the collection spots in the collection area, and it leaves the collected proteins looking a little indistinct.  The Java sim had them.

[2017-07-31 21:42] jbphet commented on #83
done, closing

[2017-07-31 21:42] #83 closed

[2017-07-31 22:01] jbphet commented on #24
I've verified that this no longer occurs on master, will leave open and unassigned for verification in next dev or RC release.

[2017-08-01 18:39] jbphet opened #84 "improve type and visibility annotations"
Type and visibility annotations mostly exist, but aren't very consistent with how they are currently done.  They should be improved.

[2017-08-01 19:31] jbphet commented on #39
This is a problem in the Java sim as well.

[2017-08-01 19:34] jbphet commented on #39
This can be most easily reproduced by making the concentrations of both factors high, then setting the affinities to about halfway and waiting until it looks like both a positive and negative are headed towards the DNA, then cranking up the affinities.

[2017-08-01 20:15] phet-steele commented on #64
Using "Gene Expression" for the title:

| Pros | Cons |
| --- | --- |
| Shorter title/Easier to say | Not accurate to the content |
| | Locks us into NEVER creating an advanced version |
| | Extra dev work to change the name |

I believe the sim title is fine as is. In terms of its complexity, we have similarly complicated titles for other sims (imo) so I see no need to change it based on that.

F

[2017-08-01 20:15] #64 closed

[2017-08-01 20:22] jbphet commented on #39
The root cause of this issue is that both positive and negative transcription factors were making "proposals" to the DNA when neither was attached, and since the space was available on the DNA strand, the proposals was being accepted.  I've modified the code to check for potential overlap with *incoming* molecules as well as attached molecules, and this seems to have done the trick.

This changes

[2017-08-01 20:26] jbphet commented on #65
Note to self: Keep #81 in mind when working on this.  It may be possible to override the bounds method and/or turn off pickability of the strand and have an overlay node so that Scenery doesn't have to be evaluating a complex shape for pointer hits.

[2017-08-01 22:27] phet-steele commented on #39
@jbphet this is a pain in the neck to try to reproduce. I think I've seen a couple of occurrences where the old code would have demonstrated a problem, but it's hard to tell. All of those occurrences did not break with the new changes, so yay! 🤞

[2017-08-01 22:27] #39 closed

[2017-08-07 20:32] jbphet commented on #82
The negative transcription factors exhibit the same behavior on this screen.

[2017-08-07 21:46] jbphet commented on #82
This was because the concentration value wasn't being rounded, so the model was trying to set non-integer numbers for the concentration, which was causing some oscillations.  Fixed, closing.

[2017-08-07 21:46] #82 closed

[2017-08-07 22:06] jbphet commented on #56
I'm unable to duplicate, and the commit that @aadish made seems like it would fix the issue.  Back to @phet-steele to test on master and make sure that he can't duplicate it either.

[2017-08-07 22:14] jbphet commented on #51
I checked through the code, and 13 dispose functions now exist, and they all invoke the dispose function in their super type where it makes sense to do so.  I'm going to close this issue, and profile and test for memory leaks in a different one.

[2017-08-07 22:14] #51 closed

[2017-08-08 16:46] jbphet opened #85 "The label "concentrations" should be "concentration""
The label for the concentration of the positive and negative transcription factors on the mRNA screen says "concentrations".  Since there is only one thing being controlled, the term "concentration" seems more appropriate.  I discussed this with @phet-steele and he agreed.

Screenshot:
![gee-concentrations](https://user-images.githubusercontent.com/3082831/29083706-d7348498-7c26-11e7-86da-9fa5ce51

[2017-08-15 17:28] jbphet commented on #65
I've create a winding algorithm for the mRNA that uses sine functions to construct the mRNA shape.  I published a version that does a different variation of this algorithm every time a strand of mRNA is produced so that I could demonstrate it to people with more expertise than I have and choose which variants to use.  This version is published here: http://www.colorado.edu/physics/phet/dev/html/ge

[2017-08-15 20:03] jbphet commented on #85
Done, closing.

[2017-08-15 20:03] #85 closed

[2017-08-15 20:46] jbphet commented on #81
I've added explicit mouse and touch areas that match the bounds of the mRNA.  This seems to work quite well (thanks @jonathanolson for the suggestion).

Leaving open and unassigned so it can be tested on the next dev or RC release.

[2017-08-16 18:06] jbphet opened #86 "ShapeChangingModelElement is maintaining separate bounds"
There is some odd looking code in `ShapeChangingModelElement` that has to do with how the position and shape relate to each other.  It appears that this model element retains a separate `bounds` variable and uses this for keeping track of where the model element is located.

In the constructor there is this:

[code]

Position is set via this:
[code]
As a result, the `bounds` property is updated, t

[2017-08-16 18:48] jbphet commented on #55
One of the performance issues is the rendering of the mRNA.  This is closely related to issue #65.  I've implemented a simpler algorithm for defining the mRNA shape, and then did some profiling, and found that the animation frames are still taking a fairly long time when creating the mRNA.  After some discussion with @jonathanolson, I learned that changing shapes for a complex shape is fairly expe

[2017-08-16 18:50] jbphet commented on #55
Oh, I should record the parameters for the algorithm that generates the mRNA shape so that this can be repeated precisely if needed.  They are:

[code]

[2017-08-16 18:56] jbphet commented on #55
Another potential improvement would be to have the messenger RNA model element `MessengerRna` report its bounds as those of the shape segment so that the more complicated calculation of the bounds for the actual twisty mRNA shape could be avoided.

[2017-08-18 20:22] jbphet commented on #65
@phet-steele sent a link to some electron micrographs of mRNA, and I thought this one might be a good reference as to what to work towards visually:

![mrna](https://user-images.githubusercontent.com/3082831/29476316-afe04e3e-8420-11e7-8b3c-360657150930.jpg)

[2017-08-22 16:16] phet-steele commented on #56
Can't repro after that second commit.

[2017-08-22 16:16] #56 closed

[2017-08-23 20:03] phet-steele commented on #79
This is great, and a much belated thank you to @aadish!

@jbphet and I discussed a bit ago on an improvement for this. During what we will call the "red twist" (where the red DNA strand originates on top of the turn before being split), the reconnection of base pairs happens well before the strands have settled back into their starting positions. This causes unfortunate layering to occur:
![gee04]

[2017-08-28 22:31] jbphet commented on #79
I fixed this, but blew the commit comment, so the commit is https://github.com/phetsims/gene-expression-essentials/commit/cf9af3a000fcd4181b792ca98e7305715bb5640c.

[2017-08-28 22:55] jbphet commented on #79
@phet-steele - please take a look at the version now on master and close if you think the changes cover it.

[2017-09-08 17:16] phet-steele commented on #79
@jbphet this is great! There are just small things that are a little weird that I think we could all come to live with. I feel fine to close, thanks.

[2017-09-08 17:16] #79 closed

[2017-09-11 19:45] jbphet commented on #86
I looked at the Java code, and in `ShapeChangingModelElement.java`, the `translate` method looks like this:

[code]

This shows that that are no separate bounds - it's just the shape itself that is being transformed.  I'm not sure why the separate bounds were added in the JavaScript version.  Maybe an attempt to improve performance?

[2017-09-12 16:34] jbphet commented on #55
Suggestion: Using pooling for Vector2 and Bounds.

[2017-09-12 19:37] jbphet opened #87 "log statements should be converted to asserts"
As I work on other issues, I've noticed a handful of `console.log` statements that spit out warning messages.  These should be converted to asserts, or simply removed if they are part of normal operation.

[2017-09-13 19:16] jbphet opened #88 "branch: performance-1"
I am working on an optimzation where mobile biomolecules have separate shape and position properties instead of having the shape also define the position.  It's not quite working yet, and I need to move on to other things for a while, so I'm creating a branch where I'll continue to work on it until it's in good enough shape to merge into master.  Hopefully.

[2017-09-26 23:44] jbphet opened #89 "address all TODO items"
I've added a few TODO items as I've been working on other issues, and this is to remind me to address them prior to publication.

[2017-09-27 23:28] jbphet opened #90 "make position setting methods consistent"
There are several styles of method used to set the position, some that use vectors and some that use X and Y values.  Consistent style should be used to ease maintainability.  Probably ```setPosition( vector )``` and ```setPositionXY( x, y )```.

[2017-10-03 22:06] jbphet opened #91 "ribosomes and mRNA destroyers jump to mRNA instead of animating"
On master and on all previously published dev versions, the ribosomes and mRNA destroyers jump to the end of the mRNA strand instead of animating there.  In the Java version, they animate.

[2017-10-03 22:26] phet-steele commented on #91
@jbphet see #24 for why this occurs, although it differs from what I requested in https://github.com/phetsims/gene-expression-essentials/issues/24#issuecomment-293010804.

[2017-10-03 23:46] jbphet commented on #88
Got this working well, and have now merged it into master.  I'm going to leave it open for a couple of weeks to make sure that nothing comes up, then I'll delete the branch and close this issue.

[2017-10-04 21:00] jbphet opened #92 "can't hook up two ribosomes to same mRNA strand"
On the current master version, I can't hook up two ribosomes to the same mRNA strand.  This is possible in the previous dev version (1.0.0-dev.11).

[2017-10-05 19:10] jessegreenberg opened #93 "continuous testing error"
[code]

Very likely caused by merging ```listeners``` branch in https://github.com/phetsims/axon/issues/140. Assigning to @jbphet because he is the responsible dev.

[2017-10-06 16:53] jbphet commented on #93
Should be fixed - it was just a duplicated line of code, so this is exactly the sort of thing we're hoping to catch with these changes.  I'll check the automated test in a couple of hours and, if all looks good, I'll close.

[2017-10-06 22:49] jbphet commented on #65
I've done a lot of work on this, and I've published a version where @kathy-phet may be able to get some feedback from someone with a lot of knowledge in this area.  I'll unassign and lower the priority until I either hear something back.

[2017-10-11 21:33] jbphet commented on #65
@kathy-phet's connection chose the shape of the molecule from the first gene on the "Expression" screen (screen 1), and recommended that we use that shape for all three genes and just lengthen it to match up with the length of the gene.  I'm moving forward with that approach.

[2017-10-11 21:55] jbphet commented on #65
Forgot to reference this issue in commit fdc83f5f1cc3fc49f5ea1b0e534f6ffa91f1cc77.

[2017-10-11 22:00] jbphet commented on #93
This sim is no longer failing the continuous tests, closing.

[2017-10-11 22:00] #93 closed

[2017-10-13 18:43] jbphet commented on #90
There were also some methods that used the abbreviation 'Pos' that were expanded to used 'Position', e.g.  `setXPos` -> `setXPosition`.

[2017-10-13 18:44] jbphet commented on #90
This has been addressed, closing.

[2017-10-13 18:44] #90 closed

[2017-10-13 23:27] jbphet commented on #55
I showed @ariel-phet version 1.0.0-dev.12 (https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.12/), and he said that he thought the performance was "acceptable".  We decided to spend a little bit more time looking for easy optimizations to make, but not to investigate more complicated options like rendering all the biomolecules on a canvas.

With this in mind, I'm

[2017-10-16 20:00] jbphet commented on #55
Below is a set of test cases that I suspect will be useful in identifying performance problems on the iPad.  These are all done on the "Expression" screen (screen 1), gene 1.  These indicies will be used to identify the tests used in subsequent entries in this issue.

1. RNA polymerase transcribing mRNA, only a single RNA polymerase and the positive transcription factor out of the tool box
2. ribo

[2017-10-16 22:26] jbphet commented on #55
Testing on Chrome, Win 10, my Dell XPS, on the main display with window at full size, new incognito window.  URL = https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.12/gene-expression-essentials_en.html?profiler.  For each test I'm going to capture the following:

+ full screenshot of when the data was captured for the first test
+ enhanced screenshot portion with

[2017-10-16 23:17] jbphet commented on #55
Same tests and data from iPad 2 (Tycho), iOS 9.3.5:

Test 1 - mRNA Transcription
------------------------------

![ipad-01](https://user-images.githubusercontent.com/3082831/31639360-94bfb3da-b295-11e7-9b2c-7dbb90c9dc9d.png)
![ipad-01-profile](https://user-images.githubusercontent.com/3082831/31639361-9b8b0f2a-b295-11e7-9dc5-ac0a1f1e22d8.png)
![ipad-02](https://user-images.githubusercontent.com/30

[2017-10-16 23:26] jbphet commented on #55
The worst case is when mRNA is being transcribed by the mRNA polymerase, and switching between the genes is a close second.  I'll focus on improving these first.

[2017-10-17 01:44] ariel-phet commented on #91
@jbphet @phet-steele I cannot say the "jumping" bothers me when user initiated, since it seems to occur in a fairly tight radius to the "ghost cue" highlight.

It is a bit odd however, when it happens "in the wild" as it does not look physically correct.

We should ideally make sure the bug in #24 does not occur, but jumping also does not occur if it is not user initiated (if animating all the tim

[2017-10-18 22:34] jbphet commented on #88
The changes are working out well in master, so I've deleted this branch.  Closing.

[2017-10-18 23:04] jbphet commented on #87
This has been done - closing.

[2017-10-18 23:04] #87 closed

[2017-10-18 23:05] jbphet commented on #80
Done, closing.

[2017-10-18 23:05] #80 closed

[2017-10-24 18:34] jbphet commented on #91
I've implemented a solution to this where the destroyers and ribosomes move quickly and directly to attach to the mRNA if the mRNA is in the process of being transcribed, and move in the "meandering" motion toward the mRNA if the mRNA is floating freely.  This looks much better to my eye and doesn't suffer from the problem described in #24.

[2017-10-24 18:34] jbphet commented on #91
Unassigning, will have this verified in next dev release.

[2017-10-24 18:37] jbphet commented on #24
The original solution to this was to have the destroyers and ribosomes jump to the mRNA instead of move there in some sort of animation.  This looked odd, see #91, so the behavior has been modified as described in https://github.com/phetsims/gene-expression-essentials/issues/91#issuecomment-339088501.  We should still verify that this is fixed, but will need to keep the new expected behavior in mi

[2017-10-26 17:03] lmulhall-phet opened #94 "Destroyer catches up to polymerase"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra Version 10.12.6 (16G29)

**Browser:**

Chrome Version 61.0.3163.100 (Official Build) (64-bit)

**Problem description:**

If the destroyer catches up to the polymerase, the expression screen stops working. You can't interact with anything in the expression screen. You can click on the other screens and sometime

[2017-10-26 17:24] phet-steele commented on #94
Ribosome can do this too.

[2017-10-26 19:01] phet-steele opened #95 "Some string clean up"
@jbphet I've done 3 things with the following commits. Please review and approve of the changes.

- ecb9beb941a2d8a1f60a47e3b92f92a9937281a1 Removed quotes from "Collection Complete!"
<img width="365" alt="screen shot 2017-10-26 at 12 32 47 pm" src="https://user-images.githubusercontent.com/5863899/32070628-3df3d948-ba4a-11e7-9194-e266338db3d4.png">

- 6978d9978a17088a46f31261c34b135dae6773af Adde

[2017-10-26 20:13] phet-steele commented on #92
Good to go!

[2017-10-26 20:13] #92 closed

[2017-10-26 20:13] phet-steele commented on #81
Works great!

[2017-10-26 20:13] #81 closed

[2017-10-26 20:20] phet-steele commented on #65
I like it, but has this been cleared by @kathy-phet's contact?

[2017-10-27 15:51] phet-steele commented on #95
@jbphet , the more I think about it, we may not need https://github.com/phetsims/gene-expression-essentials/commit/6978d9978a17088a46f31261c34b135dae6773af. `gene` (in the strings file) should just be a pattern.

[2017-10-27 16:32] jbphet commented on #95
+1

[2017-10-30 17:17] lmulhall-phet opened #96 "mRNA text jittering as ribosome makes mRNA"
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra Version 10.12.6 (16G29)

**Browser:**

Google Chrome Version 62.0.3202.75 (Official Build) (64-bit)

**Problem description:**

Somewhat difficult to reproduce, but the mRNA text will jitter as the ribosome makes mRNA. This only works if you attach the ribosome to the  fairly quickly. I think this happens becau

[2017-10-30 18:28] phet-steele commented on #24
The very quick animation is much better than the jump! Fixed, but if this solution isn't sufficient and is causing #94, we can track that there.

[2017-10-30 18:28] #24 closed

[2017-10-30 19:01] phet-steele opened #97 "Don't let mRNA make connections while dragging"
Currently, dragging mRNA near a ribosome or destroyer will propose a connection. This proposal persists until the connection occurs, so if the user drags the mRNA away before the connection is made, the ribosome or destroyer will continue to follow (slowly). During this time, NO other biomolecule can interact with the mRNA. This looks quite broken, and can be easily done on accident.

The easy fix

[2017-10-31 01:38] ariel-phet opened #98 "JILA story - alert AP when close to publication"
@phet-steele & @jbphet JILA wants to do a story about this simulation (since Tom Perkins is helping fund the conversion and consulting on the sim). They asked to ideally have a few days notice when we think it is getting close to publication.

Please let me know when you think the sim is 3-5 days out from being published.

[2017-10-31 17:33] phet-steele commented on #91
Looks great.

[2017-10-31 17:33] #91 closed

[2017-10-31 20:23] BryceAG opened #99 "iPad 2 poor performance"
All sections of the sim can easily be brought to having 5 FPS. For Expression just creating RNA with polymerase will drop the frame rate down to 10 FPS, and if you pull out a couple of the Biomolecules for each gene it will drop to 5. With mRNA just raising the concentration of the Positive Transcription Factor to High will drop the frame rate to ~6-8, and adding some negative Transcription Factor

[2017-10-31 20:33] phet-steele commented on #55
While testing 1.0.0-dev.13, @BryceAG said:

All sections of the sim can easily be brought to having 5 FPS. For Expression just creating RNA with polymerase will drop the frame rate down to 10 FPS, and if you pull out a couple of the Biomolecules for each gene it will drop to 5. With mRNA just raising the concentration of the Positive Transcription Factor to High will drop the frame rate to ~6-8, a

[2017-10-31 20:33] phet-steele commented on #99
Duplication police has arrived! Copying this into #55.

[2017-10-31 20:33] #99 closed

[2017-10-31 21:25] CWilson4960 opened #100 "Polymerase stuck in regulatory region"
Test device: MacBook Pro

Operating System: Mac OS Sierra 10.12.6
phetsims/QA/issues/58
Browser: Chrome

Problem description: When in the mRNA screen, the polymerase can get stuck on the the DNA chain near the positive transcription factor, and not move forward to release an mRNA strand (black thing). It then can only be moved by decreasing the polymerase affinity until it moves away.

Steps to re

[2017-11-01 16:12] phet-steele commented on #100
That's why this is familiar! Seems similar to https://github.com/phetsims/gene-expression-essentials/issues/39#issuecomment-319473459.

[2017-11-01 20:03] jbphet opened #101 "ribosomes and mRNA destroyers can be led around in some circumstances"
If a case is set up where mRNA is released near a ribosome or an mRNA destroyer and then picked up and dragged around before the interaction begins, the ribosome or mRNA destroyer will follow the mRNA around as it is being dragged.  Ideally, the connection that was started should be aborted as soon as the mRNA is picked up.

[2017-11-01 20:08] CWilson4960 commented on #100
It does! Although in this case there are only positive transcription factors.

[2017-11-01 21:37] BryceAG opened #102 "Oddly shaped mRNA produced"
Related to phetsims/QA#58

Testing with iPad Air 2 (Dalton), some oddly shaped mRNA were produced. One was just a little horizontal nub:
![image](https://user-images.githubusercontent.com/15327201/32299564-af1bb660-bf1b-11e7-9ed2-f673a4f4e8d4.png)

and the other was still a squiggle, but smaller than it should have been:
![image](https://user-images.githubusercontent.com/15327201/32299591-c464cade

[2017-11-02 18:39] CWilson4960 opened #103 "String double causes overlap, long does not"
Test device: Macbook Pro **and** Acer C720 (Chadwick)

Operating System: Mac OS Sierra 10.12.6 **and** Google Chrome OS 9901.54.0

Browser: Chrome **and** Chrome

Problem description: In stringTest=double, the Positive Transcription Factor box and RNA Polymerase box both impede onto the Regulatory region label, which takes up three lines.
This problem does not occur in stringTest=long, where the b

[2017-11-02 18:49] phet-steele commented on #103
@jbphet looks like the "Regulatory Region" and "Transcribed Region" on both screens could be widened so they could fit on two lines. Maybe? The panels have barely moved higher and doesn't alarm me.

[2017-11-07 17:19] phet-steele opened #104 "Single screen projector mode?"
@amanda-phet @ariel-phet @jbphet it has been a standard that black background sims have had a projector mode. However, it's always been the case that all screens in a sim are black. GEE has a single black screen as its 3rd screen, and would technically need a projector mode (since relative color intensity is so important on that screen) for at least that screen.

How would we go about this? @jbphe

[2017-11-07 17:53] jbphet commented on #103
This is unlikely to be a problem in the real world.  The English version won't have any issues with this, so it would only be a problem if a translator added a 2nd newline to the string.  We leave it up to the translators to verify that their translation looks reasonable.  I **could** add a max height, but I feel like that is more likely to cause other problems in the future rather than prevent is

[2017-11-07 17:53] #103 closed

[2017-11-07 18:18] ariel-phet commented on #104
You left out the easiest idea. Do nothing.

Which is what we are going to do for the moment.

[2017-11-07 19:33] amanda-phet commented on #104
I like option 1 myself, since it's the most consistent with other sims. Or option 4 if people don't like the idea of nothing happening.

[2017-11-07 21:36] jbphet commented on #100
Good catch @CWilson4960.  This was happening because the decision about whether or not to transcribe is made when the polymerase first attaches, but the decision about when to detach is made later.  If the affinity is increased in the interim, the polymerase can end up attached forever but not transcribing.  I've added code to reevaluate the decision about whether to transcribe if the polymerase f

[2017-11-07 21:50] jbphet commented on #100
Unassigning, will have this tested in a dev or RC version.

[2017-11-07 21:50] jbphet commented on #97
Fixed, will have this tested in next dev or RC version.

[2017-11-07 21:52] jbphet commented on #94
Fixed, will have this tested in next dev or RC version.

[2017-11-08 21:51] BryceAG commented on #102
Testing with @jbphet and @phet-steele we found that it was actually reproduced when two polymerases were transcribing at the same time, and while the first one was reforming at the end, the second one caught up and pushed it off before it finished reforming. The still slightly deformed polymerase could then reattach itself anywhere in the transcribing region, and would start to form mRNA but would

[2017-11-08 22:06] jbphet commented on #101
Should now be fixed, will unassign and have this verified on next dev or RC release.

[2017-11-08 22:27] jbphet commented on #95
The first and third changes look good, and I went ahead and made the gene label into a pattern.

[2017-11-08 22:30] jbphet commented on #95
This is fixed and reviewed, closing.

[2017-11-08 22:30] #95 closed

[2017-11-08 22:55] jbphet commented on #96
This problem is caused by the ribosome consuming the mRNA more rapidly that it is being produced, so its bounds end up changing radically while it is being synthesized.  The bounds are used to position the caption, hence the jumpiness.  This was addressed by https://github.com/phetsims/gene-expression-essentials/commit/ba4c80578664d112cad8863723e00fffcccfcb23, which as done for issue #94.  I've te

[2017-11-08 22:56] jbphet commented on #96
Should be fixed, will unassign and have it verified on the next dev or RC release.

[2017-11-09 00:39] jbphet commented on #102
@BryceAG, @phet-steele, and I spent some time on this and eventually figured out what was going on.  The problem doesn't have anything to do with switching genes quickly - that part is a bit of a red herring.  What's happening is that if polymerase molecules are added to the DNA strand one immediately after the other, the 2nd one can knock the first off of the DNA strand before it's finished retur

[2017-11-09 19:00] jbphet opened #105 "update string keys"
The string keys look fairly old school, I should take a few minutes and update them.

[2017-11-09 20:22] jbphet commented on #86
The way that the bounds were maintained was significantly revised while working on improving performance, and the bounds are now being updated if the shape or position change.  They are still being maintained so that they can be quickly accessed (this is mostly used to test overlap with other molecule or to check that it is in bounds), but the methods for positioning the `ShapeChangingModelElement

[2017-11-09 20:22] #86 closed

[2017-11-09 22:42] jbphet commented on #89
I've gone through and addressed all the remaining TOD items.  Closing.

[2017-11-09 22:42] #89 closed

[2017-11-09 23:29] jbphet commented on #105
Upon closer examination, the keys looked okay, but there were some other issues that needed to be fixed, such as usage of MultilineText instead of RichText.  I've addressed those items, closing.

[2017-11-09 23:29] #105 closed

[2017-11-09 23:45] jbphet opened #106 "use a set of SHAs from prior to 11/9/2017 for rc.1"
Today in the status meeting we decided that it was okay to start making changes to chipper for the "chipper:2.0" effort, and this could potentially destabilize the build code.  Therefore, I should use a version of SHAs from prior to that decision point.  At the meeting, I proposed using the SHAs from the recent dev release, but @samreid said I needed to make sure that I included a version of joist

[2017-11-10 03:40] samreid commented on #106
Master is probably safe until Monday (perhaps even beyond Monday), you could take a fresh set of SHAs now, right?

[2017-11-10 17:07] jbphet commented on #106
Well, this is what I'm seeing on the automated test report, so I was thinking that the chipper:2.0 train had left the station:

![chipper-test-issues](https://user-images.githubusercontent.com/3082831/32669760-dcc4560a-c5fe-11e7-9875-68229859e33a.PNG)

[2017-11-10 18:42] jbphet opened #107 "memory profile testing"
I'm about to test the memory usage, looking for leaks, and it would be good to have a record of it.  I'm testing on master as of today so that I don't have to deal with uglified names.  I'm testing in RequireJS mode except where noted.  All tests are run on a fresh load in an incognito window in Chrome, version Version 61.0.3163.100 (Official Build) (64-bit) on Windows 10.

[2017-11-10 18:58] samreid commented on #106
Those problems were not related to chipper (caught in lint rules in other sims):

[code]
and they are now resolved in master.

[2017-11-10 19:56] jbphet commented on #107
Targeted Tests
=========

Before doing these tests I did an experiment where I started the sim, went to the first screen, took a heap snapshot, then dragged several biomolecules out of the toolbox, then took another heap snapshot, and then compared the two.  I did this in order to verify that I can see the allocated biomolecules, their associated view nodes, state machines, and states in the memor

[2017-11-10 22:39] jbphet commented on #107
Fuzz Tests
======

Baseline values;
+ load sim and do nothing, total snapshot size = 48.1
+ load sim and go to each screen, then back to the home screen, total snapshot size = 49.3

Fuzz test, snapshot size minutes after load:

Time (minutes)  | Snapshot Size (MB) |
------------- |-------------|
0      | 49.7 |
1      | 54.1 |
2      | 56.3 |
3      | 56.6 |
4      | 58.3 |
5      | 57.4 |
6

[2017-11-10 22:44] jbphet commented on #107
Overall, the memory behavior looks good.  The targeted testing detected no leaks.  The memory usage during fuzz testing peaked at 61.3 MB, but then came down a bit, and held pretty steady in the 55-61MB range once the initial ramp up occurred.  I'm not seeing anything that should block publication or warrants further investigation.  Closing.

[2017-11-10 22:44] #107 closed

[2017-11-10 22:49] jbphet opened #108 "screenshot needed for v1.0"
'Nuff said.

[2017-11-10 23:35] jbphet commented on #65
This has been approved by @kathy-phet's contact.  Closing.

[2017-11-10 23:35] #65 closed

[2017-11-13 16:48] jbphet opened #109 "request for some pre-testing on Edge"
A while back I did a bit of testing of GEE on the Edge browser, and I recall seeing some odd behavior, such as large portions of the screen turning black.  I made a note to return to it, but I just did a bunch of testing on my Dell Win 10 laptop on the current master version of the sim, and I wasn't able to duplicate the behavior.

Since this sim is getting close to RC, I think it would be good to

[2017-11-13 20:31] jbphet commented on #55
I've made a number of changes intended to improve performance and, though the frame rate on an iPad 2 is still not great (see the comment immediately above), I thought it would be worthwhile to repeat the measurements made above on a version built from master.  The results are below.  I didn't take the time to do screenshots this time around - I just did the tests and recorded the frame rates.

De

[2017-11-13 23:03] jbphet commented on #55
I have to be honest and say that I'm not super confident that this testing constitutes a rigorous experiment with repeatable results, since I think there could be a number of variables that affect performance that are not being fully accounted for.  For instance, does it make a difference how recently the iPad was rebooted? Could there be fewer background processes running during one test than ano

[2017-11-14 01:16] jbphet commented on #52
Dang - I missed doing this before the RC.  I may try to get it in before the actual publication, or just do it on master.

[2017-11-14 01:25] jbphet commented on #84
I've done some work on this, focusing on the most important types, but it could still use some improvement, mostly due to the fact that the port was done by multiple individuals, so the approach is not consistent throughout the code.  @ariel-phet and I discussed and we decided to leave this issue unassigned and open so that if and when this sim comes up for instrumentation we could review, decide

[2017-11-14 01:28] jbphet commented on #55
@ariel-phet - the first RC has been published, see https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-rc.1/gene-expression-essentials_en.html.  Please evaluate on an iPad 2 and update this issue, either closing it or prioritizing it for further effort.

[2017-11-14 01:29] jbphet commented on #31
@phet-steele - please let me know who should be added to the QA credits when you know everyone who will - or did - work on the test effort.

[2017-11-14 01:30] jbphet commented on #2
Assigning to @ariel-phet for next steps now that a first RC has been published.

[2017-11-14 01:31] jbphet commented on #3
Assigning to @ariel-phet to determine what to do next on this issue.

[2017-11-14 01:34] jbphet commented on #106
I tested with the SHAs from the most recent dev release (see https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.13/) with the joist SHA updated to the version identified above.  This worked well in preliminary testing, so this is what has been used for v1.0.0-rc.1.  I'll leave this open for now and will update based on the results of the testing.

[2017-11-14 01:35] jbphet commented on #109
I ended up producing an RC before anyone was able to get to this, so I'm going to close it and let the RC process determine whether there are issues running on Edge that require our attention.

[2017-11-14 01:35] #109 closed

[2017-11-14 16:55] ariel-phet commented on #55
@jbphet performance looks acceptable to me. In this particular sim we benefit from the fact that some choppiness can be interpreted as Brownian motion. But overall, I think on iPad 2 things look fine and where performance is a bit slow, there are no pedagogical implications.

Closing

[2017-11-14 17:42] jbphet commented on #3
Assigning to myself to make sure that last few items are done during the publication phase.

[2017-11-15 21:24] BryceAG commented on #102
The shorter deconformation time does make it much harder to have them collide, and after many attempts I may have just barely had them collide, but it is hard to tell because the polymerase was so close to detaching on its own. If they did collide, then the first one popped off correctly and will not reattach in the middle of the transcribing region. If they didn't then I think it is safe to say i

[2017-11-15 22:52] BryceAG commented on #55
Reopening because of Edge performance. Following the above test format, the FPS is often worse than on iPad 2, despite chrome performing much better using the same hardwared laptop. The simplified results are:

Test 1 - mRNA Transcription

Avg FPS ~ 12

Test 2 - mRNA Translation

Avg FPS ~ 13

Test 3 - Floating Biomolecules

Avg FPS ~ 9.5

Test 4 - Switching Between Genes

Avg FPS ~ 15

Also for s

[2017-11-16 21:20] brroberts1231 commented on #96
For phetsims/QA#68
Seems improved for genes 2 and 3, but gene 1 now looks noticeably worse than the other two.

[2017-11-16 21:48] BryceAG opened #110 "LoL in Edge creates dotted line in Multiple Cells"
there seems to be a slight delay throughout all of Edge when pausing, but this only causes an issue when looking at the graph in Multiple Cells. With many cells active, if paused and then resumed it will create dots as shown here:
![image](https://user-images.githubusercontent.com/15327201/32917572-d389e4fa-cadc-11e7-940b-fe7ee6a4d5eb.png)

It is important to note that it must be paused for about

[2017-11-16 22:10] brroberts1231 opened #111 "Safari on 10.9.5 slow dragging performance"
Test device: Dirac

Operating System: 10.9.5

Browser: Safari

Problem description: Once there are enough objects floating around on the screen (usually at least a dozen), dragging objects will begin to have very poor performance. The animation of things floating around doesn't seem to degrade, and the frame rate doesn't drop much, but objects you drag around won't follow the cursor well, if at al

[2017-11-17 00:24] arnabp commented on #111
I'm experiencing this problem in OS X 10.11 as well, but only in safari (firefox and chrome run just fine). The issue becomes most prominent specifically during the mRNA transcription animation. During the animation, dragging becomes basically non-responsive.

[2017-11-17 22:14] brroberts1231 commented on #111
Not seeing this on 10.10.5, however

[2017-11-18 17:27] ariel-phet commented on #55
@BryceAG thanks for pointing out edge issues.

I tested on Edge, and although the sim is "choppy" given the context of this sim , the performance is still acceptable.

[2017-11-18 17:27] #55 closed

[2017-11-20 17:29] #102 closed

[2017-11-20 17:31] phet-steele commented on #97
Looks good.

[2017-11-20 17:31] #97 closed

[2017-11-20 17:35] phet-steele commented on #94
Looks fixed.

[2017-11-20 17:35] #94 closed

[2017-11-27 16:38] lmulhall-phet commented on #96
Tested on several devices/browsers. Seems to be fixed.

[2017-11-27 16:47] #96 closed

[2017-11-27 17:00] lmulhall-phet commented on #100
Tested on several devices/browsers. Seems to be fixed.

[2017-11-27 17:00] #100 closed

[2017-11-28 20:40] phet-steele opened #112 "Grabbing a biomolecule during the gene switch animation will place it in the wrong gene"
In quick succession, press "Next/Previous Gene" then grab a biomolecule from the toolbox. Doing this correctly requires that you grab the object before the animation has made any significant progress. The biomolecule will have been initialized on the gene you were traveling to, not on its "home" gene.

This traps biomolecules on the wrong gene ie. if you do this with a PTF, the gene it belonged to

[2017-11-29 00:04] ariel-phet commented on #111
@jbphet this seems like it should be investigated. I would be less concerned if it were only an issue for 10.9.5, but a bit disconcerting that it is happening with latest Mac OS.

It would be good to understand what is causing the issue.

[2017-11-29 16:31] jbphet commented on #111
Okay, sounds good, I'll take a look.

[2017-12-06 18:50] jbphet commented on #112
I fixed this by making the biomolecule tool boxes non-interactive (i.e. setting pickable to false) when animations are in progress.  I'll have it verified on the next RC.

[2017-12-06 21:26] jbphet commented on #110
This turned out to be a combination of two issues.  The first one was quite subtle - it was a problem where the data line was **always** being drawn with dashes, but since the data points were so close together, it generally didn't show up.  When restarting after a long pause, the gap in time allowed the gaps in the line to become visible.  The gaps in the line were due to some oddness about the r

[2017-12-06 23:14] jbphet commented on #111
I was able to duplicate this on the Macbook named "Magnus", OS version 10.11.6 "El Capatain", Safari version 9.1.2.  This is a fairly old Safari version, so @phet-steele did an upgrade to Safari version 11.0.2, and the problem went away.  We need to figure out the Safari versions where this problem manifests.

[2017-12-06 23:23] jbphet commented on #111
@arnabp - can we get exact versions of the OS and Safari where you saw the problem?

[2017-12-07 18:20] jbphet commented on #111
Here is a table of where we have and haven't seen the problem:

| OS version | Safari Version | Problem Exists? |
| --- | --- | --- |
| 10.9.5 | 9.0 | yes |
| 10.10.5 | 9.0.1 | no |
| 10.10.5 | 10.1.2 | no |
| 10.11.6 | 9.1.2 | yes |
| 10.11.6 | 11.0.2 | no |

[2017-12-07 22:14] jbphet commented on #111
This keeps getting weirder.  We have now seen the problem go away on a device - Dirac, Mac OS 10.9.5, Safari 9.0.  The problem came back once the device was rebooted.  But it gets worse.  We have had a case on that same device where the problem was occurring in one tab and **not** occurring in another, and we could switch back and forth between the two tabs, duplicate it one, and then not be able

[2017-12-07 22:20] jbphet commented on #111
@ariel-phet - @jonathanolson and I just spent a couple hours on this, and we don't see any obvious solution yet.  It seem to be something deep in the internals of Safari about how it prioritizes user input events, yet we're not finding anything about it on line.  Do you have any guidance about how much time to spend on this?

[2017-12-07 23:16] arnabp commented on #111
My browser version was Safari 9.0 (11601.1.35.2) and my OS was Mac 10.11 (15A204h)

[2017-12-07 23:29] jbphet commented on #111
I've duplicated a scenario several times on Dirac, OS 10.9.5, Safari 9.0 where I close Safari, open it, run the sim in the first tab and it exhibits the problem, then leave that tab in place and open a new one and run the sim and it's fine.  I've also done it without loading the sim in the first tab and it still runs fine in the 2nd.  This calls into question the results above, since it occurs in

[2017-12-08 19:15] ariel-phet commented on #111
@phet-steele - sounds like we will be dropping 10.9 OS support.

For MacOS 10.11 (where the problem is seen)  can Safari always be updated to a later version? If so we can consider ignoring the issue, since we always encourage user to be on the latest browser version

[2017-12-08 23:25] phet-steele commented on #111
Yes.

Yes, we can consider this. However, since the time the table in https://github.com/phetsims/gene-expression-essentials/issues/111#issuecomment-350051657 was made, more uncertainty has clouded this issue, see https://github.com/phetsims/gene-expression-essentials/issues/111#issuecomment-350111061 and https://github.com/phetsims/gene-expression-essentials/issues/111#issuecomment-350126790. We

[2017-12-08 23:30] ariel-phet commented on #111
@phet-steele I would like QA to dig in a bit more. Let's see if QA can do the following:

1. Get some clearly reproducible cases & steps of this occurring on 10.11

2. Identify if the latest Safari avoid the issues with these steps.

3. If latest Safari shows the issue we will get some of JO's time, but it would be good to have some clearer data on the "definitive" steps to recreate the problem.

[2017-12-13 16:53] phet-steele commented on #111
See the above linked issue and my comment: https://github.com/phetsims/QA/issues/76#issuecomment-351450337.

Two full days of looking into this is enough @ariel-phet. Nothing has ever shown to occur in Safari versions greater than Safari 9. And again, OSes greater than 10.9 are able to update to at least Safari 10. So...

1. See https://github.com/phetsims/QA/issues/76#issuecomment-351211002

It d

[2017-12-13 16:53] #111 closed

[2017-12-14 22:26] phet-steele opened #113 "LoL Icons and Descriptions"

[2017-12-18 18:03] phet-steele commented on #101
Looks good.

[2017-12-18 18:03] #101 closed

[2017-12-18 18:18] phet-steele commented on #112
Can no longer reproduce.

[2017-12-18 18:18] #112 closed

[2017-12-18 19:24] phet-steele commented on #110
Fixed for me.

[2017-12-18 19:24] #110 closed

[2017-12-19 19:19] phet-steele opened #114 "Hints disappear aggressively"
Location "hints" are intended to be enabled throughout the user's drag. However, they can be hidden prematurely if, somewhere else in the sim, a certain event happens.

Generally, hints disappear when:

1. Ribosomes attach to mRNA
2. A TF attaches to DNA
3. RNAP attaches to DNA
4. A Destroyer attaches to mRNA

If any of these four events occur on the screen while the user is doing something else (

[2017-12-19 20:36] phet-steele opened #115 "Expression screen icon"
This screen icon: https://github.com/phetsims/gene-expression-essentials/blob/master/images/manual-gene-expression-icon.png has a noticeably different background color behind the ribosome.

The ribosome/mRNA group also looks slightly low-res (the whole screen icon looks fine otherwise).

For phetsims/QA/issues/79.

[2017-12-19 20:37] arouinfar opened #116 "Items for Teacher Tips"
From Legacy Tips (likely to be reworded some)
- [x] The cell being modeled is prokaryotic cell, and so has no nucleus
- [x] On the “Multiple Cells” tab, the protein production being modeled is GFP (green
fluorescent protein)
- [x] On the “Cell Gene Expression” tab and on the “Messenger RNA Production” tab the
RNA polymerase and the transcription factors have a movement that is “pseudo random”
and

[2017-12-19 20:56] arouinfar commented on #115
Background color is at least fixed 🛩 🐌 🏂

[2017-12-19 20:56] arouinfar commented on #115
For the record, @phet-steele hijacked my keyboard.

[2017-12-19 21:50] arouinfar commented on #113
Icons have been created and uploaded to Drive. @phet-steele it would be helpful to know a by-screen breakdown of the learning goals. Can you take a stab at that? Don't worry if they're not teacher-facing, I just need a rough idea.

[2017-12-19 21:58] phet-steele commented on #115
@jbphet I looked at the higher res one in https://github.com/phetsims/gene-expression-essentials/commit/4fb293302e46e90aa03e18396f09394705deae4a and it looked swell. I'll push it to 1.0 and close.

[2017-12-19 22:00] phet-steele commented on #115
Thanks a million @arouinfar!

[2017-12-19 22:00] #115 closed

[2017-12-20 00:08] jbphet commented on #114
The hints were being deactivated because a new protein molecule was being added to the model, and its listener function for its `userControlledProperty` was executing, seeing that it was non-user-controlled, and deactivating the hints.  I've modified the code to require that the biomolecule was actually dropped by the user before hints are deactivated.

This change should have minimal impact, but

[2017-12-20 17:46] phet-steele opened #117 "Graph connects points that go off scale"
Most likely due to changes in #110, there is some new undesired behaviour in the graph. In rc.1, if a line drawn of the graph went off scale in the positive y, there would be "gaps" to show this:

<img width="94" alt="screen shot 2017-12-20 at 10 37 19 am" src="https://user-images.githubusercontent.com/5863899/34220415-d63d98ea-e571-11e7-965b-6cdbc33a451c.png">

Now in rc.2, there is a line that s

[2017-12-20 18:37] jbphet commented on #117
This was due to some modifications that were made to *avoid* gaps in other situations, see https://github.com/phetsims/gene-expression-essentials/issues/110.  I've modified the code in the graphing library (griddle) to keep track of whether the previous point was graphed and, if not, don't connect the line.  This appears to work well.  I regression tested this on this sim and on Neuron.

[2017-12-20 19:48] phet-steele commented on #108
Screenshot committed and pushed.

[2017-12-20 19:48] #108 closed

[2017-12-20 19:49] phet-steele commented on #98
@ariel-phet IT'S SOON!

[2017-12-20 19:59] phet-steele commented on #31
Credits should be correct!

[2017-12-20 19:59] #31 closed

[2017-12-20 21:02] phet-steele commented on #117
Good to go

[2017-12-20 21:02] #117 closed

[2017-12-20 21:18] ariel-phet commented on #98
@phet-steele JILA people have been alerted. making the sim live should not depend at all on this story. Closing this issue.

[2017-12-20 21:18] #98 closed

[2017-12-20 21:41] phet-steele commented on #114
Working, thanks

[2017-12-20 21:41] #114 closed

[2017-12-20 22:25] phet-steele commented on #116
Seems swell to me 😄 , thanks!

[2017-12-20 22:25] #116 closed

[2017-12-20 23:10] jbphet commented on #3
All items complete, version 1.0 has been published.  Closing.

[2017-12-20 23:10] #3 closed

[2017-12-21 00:06] arouinfar commented on #2
@phet-steele Teacher Tips have been uploaded and backed up on Drive.

[2018-01-09 18:27] jbphet commented on #106
This was done, and it worked out well.  The sim is published, time to close.

[2018-01-09 18:27] #106 closed

[2018-01-09 18:29] jbphet commented on #2
I think I've done all of the developer steps.  It looks like there are still a handful of post-publication steps to complete.  @ariel-phet - are these in your court and, if not, who should do them?

[2018-01-09 19:03] jbphet opened #118 "RNA polymerase molecules are never wandering on the DNA"
While working on a code cleanup issue (see #52), I stumbled across a bug.  The code in `DnaMolecule.eliminateInvalidAttachmentSites` is not correctly eliminating the biomolecule under test from the list of those that it compares for overlap.  The result of this is that all potential attachment sites are eliminated and the biomolecules that attach to the DNA never wander back and forth on the DNA s

[2018-01-09 19:06] jbphet commented on #52
This has been done on master.  I hadn't planned to move it to the release branch, but it will likely end up there since I found and fixed a bug that will probably require a maintenance release, and all of the changes were committed at once.  At any rate, this has now been addressed, closing.

[2018-01-09 19:06] #52 closed

[2018-01-09 19:07] jbphet commented on #118
This is now fixed on master.  Assigning to @ariel-phet to discuss whether this warrants a maintenance release.  Since this adds something that is instructive, my opinion is that a maintenance release should be done.

[2018-01-09 19:25] jbphet commented on #118
I discussed this with @ariel-phet, and he agreed that I should do a maintenance release.  He had the idea of potentially using this as a test case for the chipper 2.0 integration that is due to take place next Tuesday, 1/16/2018.  I'm marking the issue for developer meeting so we can decide if that would be valuable.

[2018-01-09 21:03] arouinfar commented on #113
@phet-steele I've drafted descriptions for GEE. Please let me know if these look reasonable. Feel free to comment in the issue, or edit the spreadsheet directly. (GEE can be found in the "Not_Ready" tab.)

**Expression:**
Express yourself through your genes! Experiment with the biomolecules in your toolbox to generate and collect three types of protein.

**mRNA:**
Take a deeper look at mRNA produc

[2018-01-16 20:48] phet-steele opened #119 "Perennial task failed: SOI not found"
@jonathanolson @jbphet only this sim is getting this error on bayes:

[code]

[2018-01-17 00:33] jonathanolson commented on #119
Looks like I broke all mipmapping for jpegs, but this was the only case where it was actually being used. Should be fixed.

[2018-01-17 00:33] #119 closed

[2018-01-24 23:27] arouinfar commented on #113
GEE was delivered to LoL after @phet-steele gave the descriptions his emoji of approval, but it looks like I forgot to close this issue.

[2018-01-24 23:27] #113 closed

[2018-02-12 21:41] jbphet commented on #118
This fix was just deployed in release 1.0.1.  Closing.

[2018-02-12 21:41] #118 closed

[2018-02-13 16:57] phet-steele opened #120 "Create sim primer"

[2018-02-13 22:27] ariel-phet commented on #2
Sim primer issue created, no postmortem. Closing

[2018-02-13 22:27] #2 closed

[2018-06-19 22:30] pixelzoom opened #121 "FluorescentCellsPictureDialog issues"
Noticed while working on adjusting dialog margins and spacing for https://github.com/phetsims/joist/issues/413.

FluorescentCellsPictureDialog looks like this with standard English text:

![screenshot_681](https://user-images.githubusercontent.com/3046552/41627447-9b16a2a2-73dd-11e8-8260-3c4625f75bbb.png)

It looks like this with `?stringTest=long`:
![screenshot_680](https://user-images.githubuser

[2018-06-20 18:39] jbphet commented on #121
Good suggestion.  I implemented this by combining the caption and note strings into one, setting a width for the picture, and using RichText's `lineWrap` option to control the width of the overall caption.  It now looks like this in English:

![image](https://user-images.githubusercontent.com/3082831/41677009-6399a1b0-7484-11e8-941a-c4156719bea1.png)

...und wie so auf Deutsch:

![image](https://u

[2018-06-20 21:46] jonathanolson commented on #121
Handling text wrapping with bidirectional text is kind of complicated. I'd need to pull in a 3rd-party library (e.g. https://github.com/bbc/unicode-bidirectional) and do a good amount of work getting things set up.

Do you mean the text isn't right-aligned? Is it that the second line of hebrew is on the left instead of the right? Or just the fact that it mixes languages?

[2018-06-21 16:35] jbphet commented on #121
I was bothered by the look of the 2nd line in the caption, i.e. the one that is partially Hebrew and partially English.  Initially it seemed to me like the Hebrew portion of the line should be on the other (right) side, since it's an RTL language.  However, doing this would make the English portion look worse, so I don't think that there is an ideal solution.  Since this is a rare situation, I don

[2018-06-21 16:37] jbphet commented on #121
By the way, I double checked the Japanese caption string in the babel repo, and it definitely does not have any spaces.

[2018-06-21 18:57] jonathanolson commented on #121
Can be a problem for other languages (e.g. zh_CN). Including a bidi/unicode library SHOULD be able to give us a list of potential line break locations, which may be helpful also for this case.

Given the potential cost of investigation, maybe there is a heuristic where it forces wrapping at a non-space boundary under certain conditions?

[2018-06-25 20:57] jbphet commented on #121
@jonathanolson - I'm not sure why you assigned this back to me, I'm not really in any position to answer questions about heuristics that force line wraps in languages that don't use spaces.

I'll assign this to @ariel-phet to decide if we should investigate such things now, log an issue and defer it, or not worry about it at all.  If the decision is that it should be pursued, I'm thinking that a n

[2018-06-29 13:55] ariel-phet commented on #121
@jbphet please don't worry about it at all in the code. This dialog is not of massive importance to the learning goals of the sim.

Perhaps make a note to notify translators of Hebrew and Japanese to make an adjustment when we republish?

[2018-06-29 17:35] jbphet commented on #121
Okay.  Unassigning and will send a note to Hebrew and Japanese translators when we republish.

[2018-07-02 19:31] phet-steele commented on #120
@CWilson4960 published this recently. Thanks!

[2018-07-02 19:31] #120 closed

[2018-07-18 18:14] pixelzoom opened #122 "'grunt published-README' was not run in 1.0 branch"
The 1.0 branches of this sim still indicate that the sim is unpublished.

The master checklist for sims says:

[2018-07-18 19:11] pixelzoom commented on #122
This appears to be a problem with `grunt production`.  It runs `grunt published-README` in master, but not in the release branch.

[2018-07-23 18:15] jbphet commented on #122
Done.  I'd never thought about doing this, since I figured the README file was mostly viewed on the master branch, but it makes sense that this should be done on the first published branch as well.  @pixelzoom - it there a general issue in chipper or perennial to make the grunt task automatically update the README.md for the first RC branch too?  I looked around but didn't see such an issue.

[2018-08-06 16:27] pixelzoom commented on #122
General issue is https://github.com/phetsims/chipper/issues/698.

[2018-08-06 16:27] #122 closed

[2018-09-04 01:23] samreid opened #123 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-19 15:20] samreid opened #124 "Convert TWEEN to Twixt"
As discussed in https://github.com/phetsims/joist/issues/387#issuecomment-419600722, it would be nice to use Twixt instead of TWEEN.  This sim has 1 occurrence of `new TWEEN.Tween(...)`.  Assigning to the responsible dev.  After completing this issue, check if the hold on https://github.com/phetsims/joist/issues/387 can be removed (if this was the last "Convert from TWEEN to Twixt" issue).

[2018-10-09 18:38] jbphet commented on #124
Done, closing.

[2018-10-09 18:38] #124 closed

[2019-03-26 21:14] KatieWoe opened #125 "CT Script error for TWIXT"
[code]

[2019-03-27 16:02] jbphet commented on #125
Fixed by @samreid in 07b155d9a0922d26794ec9aec8d161c53ab89fbb, closing.

[2019-03-27 16:02] #125 closed

[2019-04-16 21:11] KatieWoe opened #126 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Larger +/- boxes for accordion boxes may be useful.  See https://github.com/phetsims/sun/issues/500

Screenshots:
![Image from iOS (1)](ht

[2019-04-17 16:20] arouinfar commented on #126
https://github.com/phetsims/sun/issues/500 would support asymmetric dilation of the `ExpandCollapseButton` but that isn't necessary here.

@jbphet looks like there's plenty of room to dilate the touch areas a bit, as proposed in green.
![image](https://user-images.githubusercontent.com/8419308/56303953-38a5ef00-60fa-11e9-8fff-099c18dd9701.png)

[2019-06-05 13:49] pixelzoom opened #127 "CT: should not be called if disposed"
Related to the assertion that was added to TinyEmitter in https://github.com/phetsims/axon/issues/242.

[code]

[2019-06-05 20:30] jbphet commented on #127
There was a property value that was being set after the property had been disposed.  I reverse the order, and it appears to have fixed the problem.  I'll watch for a couple rounds of CT, and if it looks good, I'll close.

[2019-06-05 23:01] jbphet commented on #127
A round of continuous testing has been run since this commit, and the sim passed.  Closing.

[2019-06-05 23:01] #127 closed

[2019-06-26 20:07] SaurabhTotey commented on #126
I have expanded the touch areas a little bit. I increased them from 5 to 8. Here is what it looks like in master.
<img width="1440" alt="geneexpressionsaccordionbox" src="https://user-images.githubusercontent.com/22577113/60211101-99008d80-981b-11e9-8b5a-7bcc674f8f1f.png">

[2019-06-26 20:48] KatieWoe commented on #126
Looks good to me.  @arouinfar

[2019-06-26 21:10] arouinfar commented on #126
👍

[2019-06-26 21:10] #126 closed

[2019-09-12 00:45] samreid opened #128 "Should offsetFromDestinationProperty be renamed?"
From https://github.com/phetsims/scenery-phet/issues/531

This code is in MoveDirectlyToDestinationMotionStrategy.js

[code]

`offsetFromDestinationProperty` doesn't seem like an axon Property, should it be renamed?

[2019-10-02 14:59] KatieWoe opened #129 "Borders on florescent cells are grainy in iOS 13"
For https://github.com/phetsims/QA/issues/433, low priority.
The white outline of the cells on the last screen seem blurrier on iOS 13 than on iOS 12.  Easier to see when there are many cells, but can still be seen with just one.
![Image from iOS](https://user-images.githubusercontent.com/41024075/66055336-9daba080-e4f2-11e9-9674-cb49648bcd31.png)

[2019-10-02 17:31] jonathanolson commented on #129
I can't reproduce in the simulator, but I CAN reproduce on my iPhone.

[2019-10-23 22:08] jbphet commented on #129
I can reproduce using the as yet unnamed iOS 13 device, iOS version 13.1.3.  I can duplicate it **not** happening on Hopper, iOS version 12.4.1.

[2019-10-23 22:14] jbphet commented on #129
I think I've figured this out.  The cell shape is intentionally designed to be imperfect, i.e. to have some irregularities in order to appear more realistic.  On the iOS 13 device, which may have higher screen resolution, the joins between the different line segments are visible.  I add a `lineJoin` attribute to the Scenery node that represents the cell body and set the value to `round`, and the p

[2019-10-23 22:39] KatieWoe commented on #129
Things are looking ok after a quick check on master

[2019-10-28 19:10] jbphet commented on #129
I added the fix for this issue to the 1.0 release branch, built and tested on Chrome, Firefox, and iOS 13, and it all looks good.  Since this is a low-risk change, I'm planning to piggyback on the maintenance release that is currently in progress and have this change go out with that release.  That one is apparently close, so once it goes out, I'll verify this issue.

[2019-10-28 23:23] jonathanolson commented on #129
This should be out.

[2019-10-30 17:32] jbphet commented on #129
I just tested on the iOS 13 device, and the problem is fixed in the published version of the sim.  Closing.

[2019-10-30 17:32] #129 closed

[2019-12-11 19:22] jessegreenberg opened #130 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2019-12-20 02:19] SaurabhTotey commented on #130
I have replaced both instances of the PlayPauseButton and StepForwardButton pair with a TimeControlNode. Closing, but please reopen if there is anything left for this that I should do.

[2019-12-20 02:19] #130 closed

[2019-12-31 19:51] jonathanolson opened #131 "Almost identical strings"
When doing the ES6 module feasibility tests, this warning came up:

There are multiple modules with names that only differ in casing.
This can lead to unexpected behavior when compiling on a filesystem with other case-semantic.
Use equal casing. Compare these module identifiers:

    Used by 2 module(s), i. e.
    /Users/jon/phet/git/gene-expression-essentials/js/multiple-cells/view/MultipleCellsS

[2020-01-07 22:18] jbphet commented on #131
@jonathanolson - the nearly-identical strings have been consolidated.  Please take a look and, if this resolves the concern related to ES6 module feasibility, please close.

[2020-01-07 23:02] jbphet commented on #131
I should probably note for the record that I modified several translations by hand, and some of those translations only included a value for the string that was being removed (mrnaDestroyer), and not the one that was being left in place (mRnaDestroyer).  I renamed the string key in those files, and then forced a rebuild so that all translations would be up to date.  The sims for which the renaming

[2020-09-08 20:48] jessegreenberg opened #132 "Replace XYPlotNode with ScrollingChartNode"
We would like to remove XYPlotNode and replace with ScrollingChartNode in https://github.com/phetsims/griddle/issues/63. This is the last sim to use the old XYPlotNode, if it can be replaced here it can be removed.

[2020-09-08 21:16] jessegreenberg commented on #132
It looks like this plot needs labels along x axis but not y axis, something ScrollingChartNode doesn't support yet.

[2020-09-08 22:06] jessegreenberg opened #133 "Higher average protein level after reset"
Just noticed while working on #132. On sim load, the initial average protein level is starts at "none". After pressing reset all button the initial average protein level starts about 2/7 between 'None' and 'Lots'. Is this difference intentional? This does seem to be the behavior for the published sim.

[2020-09-08 22:09] jessegreenberg commented on #132
Replacement was straight forward except that the path for data plotting looks a bit more jagged now:

![image](https://user-images.githubusercontent.com/6396244/92532481-63687a00-f1fe-11ea-8760-7e05173e2dfb.png)

[2020-09-08 22:12] jessegreenberg commented on #132
Looks like DynamicSeriesNode needs `lineJoin: round` in the drawing code to look the same.

[2020-09-08 22:27] jessegreenberg commented on #132
Done in the above commit. @jbphet would you like to take a look at the change since you are responsible dev?

[2020-09-29 04:53] pixelzoom opened #134 "problems with ControlPanelNode"
Same problem as in https://github.com/phetsims/area-builder/issues/114 ...

ControlPanelNode is defining `this.expandedProperty`, which is also defined in the superclass.

ControlPanelNode is also poorly named.  It extends AccordionBox, so should have a name with "AccordionBox" suffix.

[2020-09-29 04:54] pixelzoom commented on #134
In the above commit, I converted to ES6, deleted `this.expandedProperty`, and confirmed that Reset All is working.

I did not rename ControlPanelNode.

[2020-10-05 14:55] KatieWoe opened #135 "CT cannot read property renderer of null"
[code]

[2020-10-05 20:47] jbphet commented on #135
This is occurring due to the changes to observable arrays that happened under https://github.com/phetsims/axon/issues/336.  It is caused because a list of biomolecules is being shuffled, and when that occurs the `addItemAddedListeners` is being fired for an observable array.  This doesn't seem quite correct - it should be possible to shuffle an array without firing this listener, since nothing is

[2020-10-05 21:24] samreid commented on #135
Can you please help me identify where this is being called?  phet.joist.random.shuffle doesn't mutate the passed-in array.  And I don't see "shuffle" in the stack trace.

Additionally `createObservableArray` overrides `shuffle` so that it doesn't trigger notifications.

[2020-10-08 23:57] jbphet commented on #135
The call to `shuffle` is not in the stack traces above because the erroneous state is caused in prior moments.  Below is the stack trace that I was seeing where shuffle seemed to be triggering the `addItemAddedListeners` to fire, which in turn creates an inconsistent state in the model:

[code]

I just looked at `createObservableArray.shuffle`, and it does indeed look like it clears out the array

[2020-10-09 01:00] samreid commented on #135
Thanks @jbphet, that was exactly the problem.  I added a unit test to check for that, and resolved it in the commit.  Fuzzing is lasting much longer for GEE in my testing.  Please review and close if all is well.

[2020-10-09 22:25] jbphet commented on #134
I reviewed the commit and it looked good, and renamed `ControlPanelNode` to `ParameterControlAccordionBox`.  Closing.

[2020-10-09 22:25] #134 closed

[2020-10-23 23:19] jbphet commented on #132
@jessegreenberg - Thanks for making this update, and the changes look good and the behavior seems correct.  There is one thing that threw me though - it looks like `ProteinLevelChartNode` was changed to use `ScrollingChartNode`, but then `ScrollingChartNode` was renamed to `XYPlotNode` in f381ea2b92f5189ff08f844fb986a8fe39d02157, so if one looks at the code now it looks like the change described i

[2020-10-23 23:49] jbphet commented on #133
Good observation.  I guess no one ever noticed that before (our QA process with a bit less rigorous when this was originally published).  I've added code to step the model to a steady state equilibrium when created, and that makes it more consistent.  This doesn't seem worthy of a maintenance release, so I've only fixed it on master and it can go out the next time it is released from there.

Closi

[2020-10-23 23:49] #133 closed

[2020-12-10 01:09] jbphet opened #136 "Convert to ES6"
This sim should be fully - or at least mostly - converted to ES6, especially with respect to using `class` instead of `inherit`.  See the parent issue https://github.com/phetsims/tasks/issues/1051 for more information.

[2020-12-12 01:47] jbphet commented on #136
Conversion complete, closing.

[2020-12-12 01:47] #136 closed

[2021-02-09 17:03] pixelzoom opened #137 "CT: tried to removeListener on something that wasn't a listener"
In 2/4/21 dev meeting, we established that this may be due to CT multi-touch fuzz testing ( `?fuzzPointers=2`) being enabled for phetsims/aqua#106.

[code]

[2021-02-25 21:32] jessegreenberg commented on #132
Yes, https://github.com/phetsims/gene-expression-essentials/issues/132#issuecomment-715629080 is a correct summary of the history. Thanks for documenting that, closing.

[2021-02-25 21:32] #132 closed

[2021-03-05 18:59] jbphet commented on #137
Something is a bit weird here.  This problem is no longer showing up in CT, as can be seen in the screenshot below.  It also doesn't occur when I test with the multi-touch query parameters on my local machine.  However, after some investigation, I'm able to duplicate the problem manually on the master version.  Here is the sequence:

- On a touch-based device, load the sim and go to the first scre

[2021-03-05 21:42] jbphet commented on #137
I updated to the most recent drag handling and forwarding approaches, and can no longer reproduce the problem manually.  Also, I didn't see any issues after two minutes each of fuzz and multi-touch-fuzz testing.  I'll leave this open to verify that CT is clear, and I'll also mark for dev meeting to discuss whether something is wrong with multi-touch fuzz testing ([see above](https://github.com/phe

[2021-03-08 18:44] jbphet commented on #137
CT was clear over the weekend.

[2021-03-09 17:23] pixelzoom commented on #137
I think you still have a potential problem here.  You’re calling `this.biomolecule.userControlledProperty.unlink` in 2 places in BiomoleculeCreatorNode. So it’s possible that `this.userControlledPropertyObserver` may not be a listener when `reset` is called. To be safe, in `reset` I would check `userControlledProperty.hasListener` before doing the `unlink`.

[2021-03-09 17:25] pixelzoom commented on #137
I think you still have a potential problem here.  You’re calling `this.biomolecule.userControlledProperty.unlink` in 2 places in BiomoleculeCreatorNode. So it’s possible that `this.userControlledPropertyObserver` may not be a listener when `reset` is called -- or at best, it's unclear if `this.userControlledPropertyObserver` is guaranteed to be an observer when `reset` is called. To be safe, in `r

[2021-03-09 17:55] jessegreenberg commented on #137
I think the reason CT looks green is just because it usually isnt running any fuzzing at the moment, can see here that multitouch fuzzing especially is not running:
![image](https://user-images.githubusercontent.com/6396244/110515657-9b317b00-80d6-11eb-8d52-e05bd7c60879.png)

[2021-03-10 21:44] jbphet commented on #137
Above, @pixelzoom said:

I didn't want to add the suggested `hasListener` test since the two code paths that do the `unlink` are intended to be mutually exclusive.  I stated this in a Slack discussion, and @pixelzoom recommended adding an assert to make sure that this assumption is always true, so that's what I've done.

[2021-03-11 19:13] mattpen commented on #137
Dev Meeting 3/13: @jonathanolson is looking into the issues with multitouch fuzz testing on CT.

[2021-03-12 19:08] jbphet commented on #137
CT has continued to be clear during this time, and we've discussed the issue with CT in dev meeting, so I'm going to close.

[2021-03-12 19:08] #137 closed

[2021-06-23 15:41] jbphet commented on #88
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-06-23 15:42] jbphet commented on #88
Re-deletion complete.  Closing.

[2021-06-23 15:42] #88 closed

[2021-06-29 16:01] samreid opened #138 "getGeneAtPosition returns the last match instead of the first match"
Discovered in https://github.com/phetsims/chipper/issues/1033, it seems the intent of the code is to return the first match, but since an arrow function is used instead of a for loop, it actually returns the last match.

@jbphet can you please review and advise?

[2021-06-29 16:21] samreid commented on #138
I disabled the consistent-return lint rule for now, until @jbphet can take a look.

[2021-07-02 21:14] jbphet commented on #138
I've changed this to a C-style loop and used the `geneAtPosition` value as part of the continuation clause.  I tested by running the sim, setting breakpoints, and walking through the method when transcribing genes.  I transcribed all genes on the first two screens (no transcription is done on the 3rd screen).

I think that this never caused any problems because there is ever only one gene that con

[2021-07-02 21:14] #138 closed

[2021-08-18 15:34] KatieWoe opened #139 "CT scientific notation is not supported"
[code]

[2021-08-23 20:09] jbphet commented on #139
The root cause of this was fixed in https://github.com/phetsims/dot/commit/e585d101f7b238f25072baa3f2d38e55cc63293c, a discussion of the problem can be found starting at https://github.com/phetsims/dot/issues/109#issuecomment-900570141.  Closing.

[2021-08-23 20:09] #139 closed

[2021-08-31 15:42] KatieWoe opened #140 "CT all returned solveCubicRootsReal roots should be finite"
[code]

[2021-08-31 22:34] jbphet commented on #140
I was unable to duplicate this locally using an unbuilt version and the query parameters listed above, i.e. `brand=phet&ea&fuzz&fuzzPointers=2&memoryLimit=1000&supportsPanAndZoom=true`.  The assertion is being thrown in `dot/Utils.js`, and I can see three commits in the history for this file from yesterday, and at least one of them looks like it could easily be related.  My guess is that it was a

[2021-09-01 16:43] jbphet commented on #140
Well, it seems to still be occurring, though rarely.  It happened on CT this morn at 8:38 AM, here's a screenshot:

![image](https://user-images.githubusercontent.com/3082831/131705729-962c9196-51a0-49c3-be30-2f5d0589b48b.png)

I still can't duplicate it locally so far, even after running fuzz testing for 30 minutes.  @jonathanolson - Since it seems like this may well be related to recent commits

[2021-09-02 00:25] jonathanolson commented on #140
Hopefully this will go away with https://github.com/phetsims/dot/commit/414c2f56680f0d3f50443090a59ad72879f0a752, let me know if it doesn't.

[2021-09-02 17:15] #140 closed